agente-general-para-gestión-empresarial/AGENTE GENERAL.json
{"updatedAt":"2025-10-07T08:47:20.000Z","createdAt":"2025-09-13T16:02:35.975Z","id":"zDC8mnWFl53snbo9","name":"AGENTE GENERAL","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[960,-16],"id":"91c4aaff-677f-4938-8ec1-576398dfc571","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"LFnduX1SkoDgy4eT","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Disparador Telegram').all()[0].json[\"message\"][\"chat\"][\"id\"] }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1152,48],"id":"f476be95-ef75-4b48-b807-86dc14600e4f","name":"Window Buffer Memory"},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"id":"cf313aee-01ff-47b4-855c-9c816f0faff6","name":"Set 'Text'","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[576,-144]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"3e5284ed-d851-4445-8538-2cab8bdd5b4a"}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"66b84f79-798e-4cec-8c24-a1cb28d27910","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[208,-176]},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"2353f437-f8b3-4333-b202-402fc84c7183","name":"Disparador Telegram","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-240,-176],"webhookId":"99eab1a0-569d-4f0f-a49e-578a02abfe63","credentials":{"telegramApi":{"id":"Eklfo1Cg8sEEFDRL","name":"Telegram account"}}},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"=data","options":{}},"id":"dc31b88e-817e-465f-a06f-327561a6f654","name":"Transcribir","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[640,-304],"credentials":{"openAiApi":{"id":"LFnduX1SkoDgy4eT","name":"OpenAi account"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"id":"abf12642-cbb8-4167-bd52-c3e7ee78b51a","name":"Descargar Archivo","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[400,-304],"webhookId":"83bb7385-33f6-4105-8294-1a91c0ebbee5","credentials":{"telegramApi":{"id":"Eklfo1Cg8sEEFDRL","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Disparador Telegram').all()[0].json[\"message\"][\"chat\"][\"id\"] }}","text":"={{ $json[\"output\"] }}\n","additionalFields":{"appendAttribution":false}},"id":"0373f012-a93e-4eaa-8982-31fdd5c43751","name":"Respuesta","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1584,-304],"webhookId":"5dced4b9-5066-4036-a4d4-14fc07edd53c","credentials":{"telegramApi":{"id":"Eklfo1Cg8sEEFDRL","name":"Telegram account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1824,-160],"id":"6090fe60-be09-4fa9-b7bd-a634b8888899","name":"Calculadora"},{"parameters":{"promptType":"define","text":"=Recibes el siguiente mensaje:\n\n{{ $json.text }}","options":{"systemMessage":"=# Contexto  \n\nEres el asistente personal definitivo. Tu trabajo es enviar la consulta del usuario a la herramienta correcta. Nunca debes redactar correos electrónicos ni crear resúmenes; solo necesitas llamar a la herramienta correcta. En el caso de que el usuario te pida algo para buscar en internet, hazlo y dale respuestas precisas.\n\n# Herramientas  \n\n- Pensamiento: Usa esta herramienta para pensar profundamente en el caso de que te quedes atascado o no sepas que responder.\n\n- Calculadora: Usa esta herramienta para hacer cálculos cuando el usuario lo pida.\n\n- Sub-Agente Gmail: Usa esta herramienta para realizar acciones en el correo electrónico.\n\n- Sub-Agente Calendario: Usa esta herramienta para realizar acciones en el calendario.  \n\n- Sub-Agente base de datos: Usa esta herramienta para obtener, actualizar, eliminar o añadir contactos.  \n\n- web_search: Usa esta herramienta para buscar en internet.  \n\n- Sub-Agente Propuestas: Usa esta herramienta cuando tengas que hacer una propuesta de negocio a un cliente\n\n# Reglas  \n\nAlgunas acciones requieren que primero busques información de contacto. Antes de enviar correos o agendar eventos, asegúrate de obtener los datos del contacto desde la base de datos.\n\nPara las siguientes acciones, debes obtener la información de contacto y enviarla a la herramienta correspondiente:  \n  - Enviar correos electrónicos.  \n  - Redactar correos electrónicos.  \n  - Crear eventos de calendario con asistentes.  \n\n# Tarea\n\nLlamar a las herramientas necesarias según la solicitud del usuario.\n\nLlamar a la herramienta \"Pensamiento\" para verificar que tomaste los pasos correctos. Esta herramienta debe ser llamada cada vez.\n\n# Especificaciones\n\nSi tienes que listar una serie de Clientes de Sheets, hazlo con salto de linea y con -\n\n\n# Ejemplos  \n\n## Ejemplo 1)  \n- Input: Envía un correo electrónico a Sergi Buendia preguntándole a qué hora quiere salir.  \n- Acción: Usa *Sub-Agente base de datos* para obtener el correo electrónico de Sergi Buendia, y si este contacto no existe, créalo.\n- Acción: Usa *Sub-Agente Gmail* para enviar el correo. Debes pasarle a la herramienta una consulta como:  \n    > \"Envía un correo electrónico a Sergi Buendia para preguntarle a qué hora quiere agendar la reunión. Aquí está su correo electrónico: [dirección de correo electrónico]\"\n- Output: El correo electrónico ha sido enviado a Sergi Buendia. ¿Puedo ayudarte con algo más?  \n\n## Ejemplo 2)\n- Input: Envía un correo electrónico a Sergi Buendia preguntándole cómo le va el día.\n\n- Acciones:\nUtilizar la herramienta “Sub-Agente base de datos” para obtener al cliente.\nUtilizar la herramienta de “Sub-Agente_gmail” para enviar el correo electrónico.\nUtilizar la herramienta “Pensamiento” para comprobar que todas las tareas han sido completadas.\n\n- Output: Acabo de enviar el correo que me has pedido a Sergi Buendia ¿Hay algo más en lo que pueda ayudarte?\n\n## Ejemplo 3)\n\n- Input: Quiero que le envíes un correo a Josep Antoni Segura, ofreciéndole una propuesta de negocio desde nuestra agencia de IA para su empresa. Quiero que le digas los servicios que tenemos disponibles, y el precio que tienen. También quiero que le digas que le haré un 20% de descuento por ser mi amigo. Quiero que le des la posibilidad de agendar una reunión conmigo cuando él quiera.\n\n- Acciones:\n1. Usar *Sub-Agente base de datos* para obtener el correo electrónico de Josep Antoni Segura.  \n2. Usar *Sub-Agente Propuestas* para consultar la presentación en Google Slides y extraer los servicios y precios.  \n3. Aplicar un 20% de descuento sobre los precios obtenidos.  \n4. Usar *Sub-Agente Gmail* para redactar y enviar el correo con la propuesta personalizada, incluyendo un enlace para agendar una reunión.  \n\n- Output: El correo ha sido enviado a Josep Antoni Segura con la propuesta de negocio, los servicios y precios con descuento, y un enlace para agendar una reunión contigo. ¿Quieres que registre esta interacción en el CRM?\n\n## Ejemplo 4)\n- Input: Envía un borrador a Marta López ofreciéndole una propuesta de negocio. Incluye todos los servicios disponibles con sus precios oficiales, pero agrega un mensaje de cortesía indicando que si agenda la reunión esta semana, recibirá una consultoría gratuita.\n\n- Acciones:\n1. Usar *Sub-Agente base de datos* para obtener el correo electrónico de Marta López.  \n2. Usar *Sub-Agente Propuestas* para obtener desde Google Slides la lista de servicios y precios oficiales.  \n3. Redactar la propuesta personalizada incluyendo la oferta especial de consultoría gratuita.  \n4. Usar *Sub-Agente Gmail* para preparar el borrador con 'CrearBorrador' con un mensaje formal y el enlace de calendario para la reunión.  \n\n- Output: El correo ha sido enviado a Marta López con la propuesta de negocio detallada, la oferta de consultoría gratuita y la posibilidad de agendar una reunión contigo.\n\n## Ejemplo 5)\n- Input: Prepara una propuesta para un cliente interesado en el servicio de \"Chatbots inteligentes integrados\".\n- Acción: Usa *Sub-Agente Propuestas* para consultar la presentación de Google Slides y obtener la descripción y precios del servicio \"Chatbots inteligentes integrados\".\n- Acción: Redacta una propuesta breve que incluya los beneficios principales y el rango de precios desde la presentación.\n- Output: Aquí tienes tu propuesta:  \n\"Los *Chatbots inteligentes integrados* están disponibles 24/7 en web, WhatsApp o diferentes plataformas. Responden con información real y reducen los costos de soporte.  \nEl precio varía según el plan:  \n- Básico: 500 – 1.000 €/mes  \n- Avanzado: 1.200 – 3.000 €/mes\"\n\n¿Quieres que prepare la propuesta en formato presentación de Google Slides para el cliente?\n\n# Notas \n- La fecha y hora actual es: {{ $now }}.\n- Zona horaria para agendar reuniones en el calendario: Zona horaria de Barcelona (GMT+2)\n\n# Reglas (Obligatorio cumplir)\n\nSIEMPRE que llames a los Sub-Agente de Gmail, Calendar y base de datos con las intenciones de buscar contactos, enviar un correo o agendar una reunión, asegúrate SIEMPRE de darles la mayor cantidad de información posible. Esto significa que envíes todos los datos, características detalladas y, por supuesto, uno o varios correos electrónicos reales."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1264,-96],"id":"ee83c96c-333e-4146-aab0-b12893c5f01b","name":"Super Agente"},{"parameters":{"assignments":{"assignments":[{"id":"12a46c9e-a435-45f5-b5b5-65da026db4d5","name":"text","value":"={{ ($json.text || $json.data?.text || $json.message?.text || '').trim() }}","type":"string"},{"id":"aa3132c5-9244-4530-bb0e-9d19bbcb8d73","name":"origin","value":"={{ $json.message?.voice ? 'voice' : 'text' }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,-224],"id":"d5f85674-6ad6-4d9d-90c7-d54ddc832f04","name":"Entrada Unificada"},{"parameters":{"content":"NEXTS STEPS DESPUES DE VACACIONES:\n- Configurar los siguientes sub-agentes del workflow principal - Sub-Agente Calendario --> Mirar conversación 'SUPER AGENTE' ChatGPT;\n- Sub-Agente CRM (Crear CRM en google sheets --> Mirar video de Adrián Martinez para ver como lo hace : https://www.youtube.com/watch?v=19GmHFEsMuY&t=404s (Min 7:06 enseña un ejemplo del CRM cutre, asi que me podría currar mas el CRM)\n- Sub-Agente Propuestas (Google Presentaciones con los precios de la Agencia (poner precios, servicios, que hace cada servicios, tiempos de entrega de cada servicio...de a cuanto vendemos cada solución) + Presentación de servicios de la agencia (nos inventamos los servicios)\n- Probar el Agente General y ver que todo funciona a raíz del bot de telegram\n- Utilizar ChatGPT n8n Winner\n- Comprar n8n mensual\n\n","height":704},"type":"n8n-nodes-base.stickyNote","position":[-2368,-832],"typeVersion":1,"id":"46089273-11dd-4f5c-bef9-35b9c80bcaba","name":"Sticky Note"},{"parameters":{"resource":"draft","subject":"={{ $fromAI(\"subject\") }}","emailType":"html","message":"={{ $fromAI(\"message\") || $json.message }}","options":{"sendTo":"={{ $fromAI('To_Email', ``, 'string') }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-192,880],"id":"997469ae-e736-45ed-bea9-83d0a1f326b9","name":"CrearBorrador","webhookId":"d21f34d5-bb5c-445f-93e9-90baf2027a94","credentials":{"gmailOAuth2":{"id":"9lhYsg2Pjrg5jTXM","name":"Gmail account"}}},{"parameters":{"operation":"getAll","limit":"={{ $fromAI(\"limit\", \"Cuántos emails quiere el usuario\") }}","simple":false,"filters":{"sender":"={{ $fromAI(\"sender\", \"Quienes son los remitentes de los correos electrónicos.\") }}"},"options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-48,880],"id":"95854ee2-8360-4f99-a321-a562975edc12","name":"ObtenerEmails","webhookId":"6a3d0c85-3f59-4c94-9a3f-a561a34ca043","credentials":{"gmailOAuth2":{"id":"9lhYsg2Pjrg5jTXM","name":"Gmail account"}}},{"parameters":{"resource":"label","returnAll":true},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[80,880],"id":"0104b7bc-70cf-403e-8713-319207cb68f8","name":"ObtenerEtiquetas","webhookId":"0e7c921a-2249-4561-9e7b-0416bfa92c36","credentials":{"gmailOAuth2":{"id":"9lhYsg2Pjrg5jTXM","name":"Gmail account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Envía un correo nuevo.\nInputs obligatorios:\n- to (string): destinatario\n- subject (string): asunto\n- message (string): cuerpo del correo en HTML (debe incluir la firma final).","sendTo":"={{ $fromAI(\"to\") || $json.to }}","subject":"={{ $fromAI(\"subject\") || $json.subject }}","message":"={{ $fromAI(\"message\") || $json.message }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-656,848],"id":"24d7486c-a78b-4d9e-96d4-bafc01a26056","name":"Envio","webhookId":"ad308683-5357-4c8f-9ed9-5b55abdde260","credentials":{"gmailOAuth2":{"id":"9lhYsg2Pjrg5jTXM","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $fromAI(\"messageId\") }}","labelIds":"={{ $fromAI(\"labelId\") }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-352,864],"id":"eb094f56-623c-4734-9c52-b0cd8a9ed3f1","name":"AddEtiqueta","webhookId":"d98a17c4-d41d-48f9-8bdc-4e4e7692fc27","credentials":{"gmailOAuth2":{"id":"9lhYsg2Pjrg5jTXM","name":"Gmail account"}}},{"parameters":{"operation":"markAsUnread","messageId":"={{ $fromAI(\"messageID\") }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[256,800],"id":"1b028771-74f8-46b5-bb4e-ca9715525385","name":"MarcarNoLeido","webhookId":"78ea41e0-84bd-4d3d-8623-dd7ae42ee350","credentials":{"gmailOAuth2":{"id":"9lhYsg2Pjrg5jTXM","name":"Gmail account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Responde a un correo electrónico existente.\nInputs requeridos:\n- messageId (string): el ID del correo al que se quiere responder.\n- message (string): el texto de la respuesta.","operation":"reply","messageId":"={{ $fromAI(\"messageId\") }} ","message":"={{ $fromAI(\"message\") }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-512,832],"id":"60455e8a-fbd8-4369-ae5d-93b31a0aa0b5","name":"Respuesta1","webhookId":"eef0f811-cc15-47fa-9600-aa81bd30febc","credentials":{"gmailOAuth2":{"id":"9lhYsg2Pjrg5jTXM","name":"Gmail account"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"sergibuendia02@gmail.com","mode":"list","cachedResultName":"sergibuendia02@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","updateFields":{"attendeesUi":{"values":{"attendees":["={{ $fromAI(\"CorreoInvitado\") }}"]}},"end":"={{ $fromAI(\"endTime\") }}","start":"={{ $fromAI(\"startTime\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[688,800],"id":"bb492c23-f6c8-4821-9a96-a4f44431b039","name":"ActualizarEvento","credentials":{"googleCalendarOAuth2Api":{"id":"jKjwzQcCXjhCLCe4","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"sergibuendia02@gmail.com","mode":"list","cachedResultName":"sergibuendia02@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[832,832],"id":"f98acf5a-eca7-4d0c-99c1-4f46ac0c4ae1","name":"EliminarEvento","credentials":{"googleCalendarOAuth2Api":{"id":"jKjwzQcCXjhCLCe4","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"sergibuendia02@gmail.com","mode":"list","cachedResultName":"sergibuendia02@gmail.com"},"timeMin":"={{ $fromAI(\"dayBefore\",\"el día anterior a la fecha que solicitó el usuario.\") }}","timeMax":"={{ $fromAI(\"dayAfter\",\"el día siguiente a la fecha que solicitó el usuario.\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[976,864],"id":"d9b330ac-b15e-456a-9fc5-fdc712383052","name":"ObtenerEventos","credentials":{"googleCalendarOAuth2Api":{"id":"jKjwzQcCXjhCLCe4","name":"Google Calendar account"}}},{"parameters":{"calendar":{"__rl":true,"value":"sergibuendia02@gmail.com","mode":"list","cachedResultName":"sergibuendia02@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"attendees":[],"conferenceDataUi":{"conferenceDataValues":{"conferenceSolution":"hangoutsMeet"}},"summary":"={{ $fromAI(\"eventTitle\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1104,816],"id":"f60f51c2-eece-4d79-9443-a3b4c15ab098","name":"CrearEventos","credentials":{"googleCalendarOAuth2Api":{"id":"jKjwzQcCXjhCLCe4","name":"Google Calendar account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1XrcKN13-5olttUtHsottxzIhuGDD1o0CnLips550SOE","mode":"list","cachedResultName":"CRM - Agente General","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XrcKN13-5olttUtHsottxzIhuGDD1o0CnLips550SOE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XrcKN13-5olttUtHsottxzIhuGDD1o0CnLips550SOE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Nombre","lookupValue":"={{ $fromAI(\"Nombre\") }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1696,848],"id":"ded0564a-6672-4073-9492-696d2b806e62","name":"ObtenerContactos","credentials":{"googleSheetsOAuth2Api":{"id":"7ohuKcxhHIYdPhRT","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1XrcKN13-5olttUtHsottxzIhuGDD1o0CnLips550SOE","mode":"list","cachedResultName":"CRM - Agente General","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XrcKN13-5olttUtHsottxzIhuGDD1o0CnLips550SOE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XrcKN13-5olttUtHsottxzIhuGDD1o0CnLips550SOE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ $fromAI(\"Nombre\") }}","Correo":"={{ $fromAI(\"Correo\") }}","row_number":0,"Teléfono":"={{ $fromAI(\"Telefono\") }}","Empresa":"={{ $fromAI(\"Empresa\") }}"},"matchingColumns":["Nombre"],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Correo","displayName":"Correo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Teléfono","displayName":"Teléfono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Empresa","displayName":"Empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1936,864],"id":"8af1e439-2d95-423c-9454-32d15d30cd04","name":"ActualizarEstado","credentials":{"googleSheetsOAuth2Api":{"id":"7ohuKcxhHIYdPhRT","name":"Google Sheets account"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1XrcKN13-5olttUtHsottxzIhuGDD1o0CnLips550SOE","mode":"list","cachedResultName":"CRM - Agente General","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XrcKN13-5olttUtHsottxzIhuGDD1o0CnLips550SOE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XrcKN13-5olttUtHsottxzIhuGDD1o0CnLips550SOE/edit#gid=0"},"startIndex":"={{$fromAI (\"row_number\")}}","numberToDelete":"={{ 1 }}"},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[2080,800],"id":"28c7cc1c-8b2d-42b3-bece-f51b53990377","name":"EliminarContacto","credentials":{"googleSheetsOAuth2Api":{"id":"7ohuKcxhHIYdPhRT","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1XrcKN13-5olttUtHsottxzIhuGDD1o0CnLips550SOE","mode":"list","cachedResultName":"CRM - Agente General","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XrcKN13-5olttUtHsottxzIhuGDD1o0CnLips550SOE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XrcKN13-5olttUtHsottxzIhuGDD1o0CnLips550SOE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{$fromAI(\"Nombre\")}}","Correo":"={{$fromAI(\"Correo\")}}","Teléfono":"={{$fromAI(\"Telefono\")}}","Empresa":"={{$fromAI(\"Empresa\")}}"},"matchingColumns":[],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Correo","displayName":"Correo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Teléfono","displayName":"Teléfono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Empresa","displayName":"Empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1808,864],"id":"16cf8849-829c-4cbd-bde2-192bb891880c","name":"AddContactos","credentials":{"googleSheetsOAuth2Api":{"id":"7ohuKcxhHIYdPhRT","name":"Google Sheets account"}}},{"parameters":{"content":"## Sub Agente Gmail","height":672,"width":1136,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-704,368],"typeVersion":1,"id":"9a21fa87-c8b5-4a19-88f3-24bd2abb0d28","name":"Sticky Note2"},{"parameters":{"content":"## Sub Agente Calendario","height":752,"width":1008,"color":5},"type":"n8n-nodes-base.stickyNote","position":[448,320],"typeVersion":1,"id":"e9f61da0-cec0-4ac8-b177-68cfbe833e17","name":"Sticky Note3"},{"parameters":{"content":"## Sub Agente CRM","height":656,"width":800,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1472,400],"typeVersion":1,"id":"156f7493-b4c6-4e05-b025-f14b04408495","name":"Sticky Note4"},{"parameters":{"toolDescription":"Utiliza esta herramienta para acciones de Google Calendar","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"=# Rol\n\nEres un asistente de calendario\n\n# Contexto\n\nTus responsabilidades incluyen crear, obtener, eliminar y actualizar eventos en el calendario del usuario. Siempre que tengas que crear un evento y agendar una reunión, siempre invita a la reunión al mismo correo que tienes disponible en la base de datos.\n\n# Herramientas de Gestión de Calendario\n\n- Usa \"CrearEventoconInvitado\" para crear un evento que incluya un participante.  \n- Usa \"CrearEventos\" para crear eventos individuales.  \n- Usa \"ObtenerEventos\" para recuperar la agenda del calendario cuando se solicite.  \n- Usa \"EliminarEvento\" para eliminar un evento.  Primero debes usar \"ObtenerEventos\" para obtener el ID del evento que deseas eliminar.  \n- Usa \"ActualizarEvento\" para actualizar un evento. Primero debes usar \"ObtenerEventos\" para obtener el ID del evento que deseas actualizar.  \n\n# Notas Finales  \n- Fecha y hora actual: {{ $now }} \n- Zona horaria: Barcelona (GMT+2)\n- Si no se especifica una duración para un evento, se asumirá que durará una hora.  "}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[768,368],"id":"aa0101a5-1132-4841-a9d4-be36445b52ed","name":"Sub-Agente Calendario"},{"parameters":{"toolDescription":"Utiliza esta herramienta para acciones Gmail","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"=# Rol\nEres un asistente experto en gestión de correos electrónicos en Gmail. Trabajas en español.\nTodos los correos deben estar formateados profesionalmente en formato HTML y deben finalizar con la firma:\n\"Sergi Buendia - CEO Grow Up Solutions IA\".\n\nDebes invocar herramientas para gestionar Gmail. \nCuando el usuario pida ENVIAR o PREPARAR un correo:\n- Usa \"Envio\" (o \"CrearBorrador\") y RELLENA SIEMPRE estos argumentos:\n  - to (string)\n  - subject (string)\n  - message (string) → cuerpo en HTML que incluya la firma \"Sergi Buendia - CEO Grow Up Solutions IA\".\nNO inventes nombres de campos. Usa EXACTAMENTE: to, subject, message.\n\n\n# Reglas generales\n- SIEMPRE debes llamar a una herramienta cuando el usuario pida enviar, responder, etiquetar, listar o marcar correos.\n- No respondas con explicación si hay una herramienta aplicable; invócala.\n- Nunca inventes `messageId` ni `labelId`: obtén IDs con las herramientas.\n- Si el usuario dice “último”, interpreta **el más reciente**.\n- Si falta información (por ej. destinatario), **pregunta una aclaración**. \n- Si el usuario no deja claro si quiere **enviar** o **borrador**, por defecto **crear borrador** y confirmar.\n\n# Herramientas disponibles y campos (inputs)\n\n> Usa exactamente estos nombres de parámetros al llamar a cada herramienta.\n\n- ObtenerEmails → buscar/listar correos.\n  Inputs:\n  - `query` (string, sintaxis de Gmail: ej. `is:unread newer_than:7d`, `from:cliente@dominio.com`, `subject:\"presupuesto\"`)\n  - `limit` (number, por defecto 5 si el usuario no especifica)\n  Devuelve por cada correo (entre otros): `messageId`, `from`, `subject`, `date`, `snippet`.\n  Úsala SIEMPRE que necesites un `messageId` (responder, etiquetar, marcar no leído).\n\n- ObtenerEtiquetas → listar etiquetas.\n  Sin inputs.\n  Devuelve: `labelId`, `name`.\n  Úsala cuando necesites etiquetar un correo y solo tengas el nombre de la etiqueta.\n\nCuando el usuario pida enviar o preparar un correo:\n- Usa la herramienta \"Envio\" (o \"CrearBorrador\") y rellena SIEMPRE:\n  - to (string)\n  - subject (string)\n  - message (string) → cuerpo en HTML: usa párrafos <p>, negritas <strong>, listas <ul><li>…</li></ul> si corresponde.\n- Incluye la firma final \"Sergi Buendia - CEO Grow Up Solutions IA\".\n- No respondas con explicación si puedes usar una herramienta.\n- Usa EXACTAMENTE los nombres de argumentos: to, subject, message.\n\n- CrearBorrador → Usalo cuando te pidan crear un borrador.\n  Inputs: `to` (string), `subject` (string), `message` (string, HTML).\n\n- Respuesta → responder a un correo existente.\n  Inputs: `messageId` (string), `message` (string, HTML).\n  Antes de llamar, usa **ObtenerEmails** para encontrar el `messageId` correcto según el criterio del usuario.\n\n- **AddEtiqueta** → añadir etiqueta a un correo.\n  Inputs: `messageId` (string), `labelId` (string).\n  Si el usuario te da un **nombre** de etiqueta, primero llama a **ObtenerEtiquetas** y mapea `name → labelId`.\n\n- **MarcarNoLeido** → marcar un correo como no leído.\n  Inputs: `messageId` (string).\n  Obtén el `messageId` con **ObtenerEmails**.\n\n# Procedimiento recomendado (decisión)\n1) Si el usuario pide **listar/buscar**: llama a **ObtenerEmails** con `query` y `limit`. Resume en viñetas: remitente, asunto, fecha.\n2) Si pide **responder**: \n   - Usa **ObtenerEmails** con un `query` que identifique el correo (por remitente, asunto o “último”).\n   - Pasa su `messageId` a **Respuesta** con el `message` en HTML (incluye firma).\n3) Si pide **etiquetar**: \n   - **ObtenerEmails** → toma `messageId`.\n   - **ObtenerEtiquetas** → encuentra `labelId` por `name`.\n   - **AddEtiqueta** con esos IDs.\n4) Si pide **marcar como no leído**: **ObtenerEmails** → `messageId` → **MarcarNoLeido**.\n5) Si pide **enviar** o **preparar**: \n   - Si dice “enviar”, usa **Envio**.\n   - Si no está claro o pide revisión, usa **CrearBorrador**.\n\n# Estilo de salida (hacia el usuario)\n- Confirma acciones con detalles: destinatario/asunto o número de correos afectados.\n- Cuando generes contenido de correo (`message`), usa HTML y termina con la firma.\n- Fecha y hora actual: {{ $now }}"}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[-176,464],"id":"ab296b5a-6798-4732-879d-dcb4f286f9c0","name":"Sub-Agente Gmail"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-496,544],"id":"dcd2a521-bb7a-4bd3-97c6-3cc66d8c095a","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"LFnduX1SkoDgy4eT","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[560,560],"id":"3bd960c4-604b-4704-80de-121248ea8738","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"LFnduX1SkoDgy4eT","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1536,736],"id":"f10cff09-d9ed-4136-a9b0-6653c2cb7e98","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"LFnduX1SkoDgy4eT","name":"OpenAi account"}}},{"parameters":{"content":"## MIRAR VIDEO DE ESTE TIO QUE EXPLICA PERFECTAMENTE COMO HACER SUB AGENTES DENTRO DE UN MISMO AGENTE\n\nhttps://www.youtube.com/watch?v=jIRxoZQ1DcA\n","height":304,"width":800},"type":"n8n-nodes-base.stickyNote","position":[-1104,1968],"typeVersion":1,"id":"63a47a2b-686d-4836-a8bc-3c6daf5744a8","name":"Sticky Note5"},{"parameters":{"toolDescription":"Utiliza esta herramienta para acciones de Base de Datos","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"# Resumen  \nEres un asistente de gestión de base de datos y de contactos. \n\n# Especificaciones\nTus responsabilidades incluyen buscar contactos, eliminar contactos, agregar nuevos contactos o actualizar la información de un contacto en nuestra base de datos.\n\n# Herramientas de gestión de Contactos  \n- Usa \"ObtenerContactos\" para obtener información de contacto. \n- Usa \"AddContactos\" para añadir nuevos clientes, almacenar nueva información de contacto y añadirlos a nuestra base de datos.\n- Usa \"ActualizarEstado\" para modificar y actualizar información de los clientes en la base de datos.\n- Usa \"EliminarContacto\" para eliminar la información de un contacto existente. Debes obtener primero su \"row_number\" con la herramienta \"ObtenerContactos\"."}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[1744,496],"id":"5dc2d509-cfb6-4ad1-8554-7194d0ad5880","name":"Sub-Agente base de datos"},{"parameters":{"description":"Usa esta herramienta para pensar profundamente en el caso de que te quedes atascado."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[1744,48],"id":"7eea3a5c-544e-43f4-9870-8046612ec079","name":"Pensamiento"},{"parameters":{"workflowId":{"__rl":true,"value":"BpnzNynWPjgq4tEj","mode":"list","cachedResultName":"Buscador en internet"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1920,0],"id":"dbaf7c8a-bf68-4e43-a89d-9c014880d320","name":"Call 'Buscador en internet'"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2368,672],"id":"fa93ced2-c291-445c-b20e-e68e55cd9c31","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"LFnduX1SkoDgy4eT","name":"OpenAi account"}}},{"parameters":{"content":"## Sub Agente Propuestas de Negocio\n","height":400,"width":544},"type":"n8n-nodes-base.stickyNote","position":[2288,400],"typeVersion":1,"id":"c1e3dabe-5fe0-49f2-9e57-2e1ba39e49f8","name":"Sticky Note1"},{"parameters":{"toolDescription":"Utiliza esta herramienta para acciones de propuestas de negocio.","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"# Resumen\nEres un asistente de propuestas de negocio especializado en los servicios de inteligencia artificial de nuestra empresa.  \nTu función principal es generar propuestas claras, personalizadas y profesionales para los clientes, utilizando la información almacenada en nuestras presentaciones de Google Slides.\n\n# Especificaciones\n- Debes obtener la información de servicios, descripciones y precios directamente de la presentación de Google Slides.\n- Asegúrate de incluir en la propuesta el servicio adecuado, los beneficios principales y el rango de precios.\n- Adapta el contenido al cliente, pero nunca inventes precios ni servicios que no estén en la presentación.\n- Tu lenguaje debe ser claro, persuasivo y profesional.\n\n# Herramientas disponibles\n- Usa **\"Get a presentation in Google Slides\"** para obtener el contenido de la presentación completa (ID de la presentación ya configurado).\n- Si es necesario, extrae secciones o diapositivas específicas con herramientas adicionales de Google Slides.\n- La información recuperada debe ser la base para estructurar las propuestas.\n\n# Reglas\n- Si un cliente pide un servicio que no está en la presentación, responde que no está disponible actualmente.\n- Siempre incluye beneficios clave y precios oficiales desde la presentación.\n- No inventes información, tu fuente oficial es la presentación de Google Slides.\n"}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[2432,480],"id":"57ab018f-156a-4567-8544-86685c92b5d1","name":"Sub-Agente Propuestas"},{"parameters":{"calendar":{"__rl":true,"value":"sergibuendia02@gmail.com","mode":"list","cachedResultName":"sergibuendia02@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"attendees":["={{ $fromAI('attendees0_Attendees', ``, 'string') }}"],"conferenceDataUi":{"conferenceDataValues":{"conferenceSolution":"hangoutsMeet"}},"summary":"={{ $fromAI(\"eventTitle\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1264,816],"id":"13113a74-22cb-4bfa-91c7-733989d7f555","name":"CrearEventoconInvitado","credentials":{"googleCalendarOAuth2Api":{"id":"jKjwzQcCXjhCLCe4","name":"Google Calendar account"}}},{"parameters":{"operation":"get","presentationId":"16KgatAyzCYlvUc06LqJbGEdykj70w6s4vfPZpu5sIqA"},"type":"n8n-nodes-base.googleSlidesTool","typeVersion":2,"position":[2656,640],"id":"995e2038-6792-425f-8970-a9778bab8962","name":"Presentación Presupuestos Empresa","credentials":{"googleSlidesOAuth2Api":{"id":"B1uLRlzrOVEAiPTO","name":"Google Slides account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Super Agente","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Super Agente","type":"ai_memory","index":0}]]},"Switch":{"main":[[{"node":"Descargar Archivo","type":"main","index":0}],[{"node":"Set 'Text'","type":"main","index":0}]]},"Set 'Text'":{"main":[[{"node":"Entrada Unificada","type":"main","index":0}]]},"Disparador Telegram":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Transcribir":{"main":[[{"node":"Entrada Unificada","type":"main","index":0}]]},"Descargar Archivo":{"main":[[{"node":"Transcribir","type":"main","index":0}]]},"Calculadora":{"ai_tool":[[{"node":"Super Agente","type":"ai_tool","index":0}]]},"Super Agente":{"main":[[{"node":"Respuesta","type":"main","index":0}]]},"Entrada Unificada":{"main":[[{"node":"Super Agente","type":"main","index":0}]]},"CrearBorrador":{"ai_tool":[[{"node":"Sub-Agente Gmail","type":"ai_tool","index":0}]]},"ObtenerEmails":{"ai_tool":[[{"node":"Sub-Agente Gmail","type":"ai_tool","index":0}]]},"ObtenerEtiquetas":{"ai_tool":[[{"node":"Sub-Agente Gmail","type":"ai_tool","index":0}]]},"Envio":{"ai_tool":[[{"node":"Sub-Agente Gmail","type":"ai_tool","index":0}]]},"AddEtiqueta":{"ai_tool":[[{"node":"Sub-Agente Gmail","type":"ai_tool","index":0}]]},"MarcarNoLeido":{"ai_tool":[[{"node":"Sub-Agente Gmail","type":"ai_tool","index":0}]]},"Respuesta1":{"ai_tool":[[{"node":"Sub-Agente Gmail","type":"ai_tool","index":0}]]},"ActualizarEvento":{"ai_tool":[[{"node":"Sub-Agente Calendario","type":"ai_tool","index":0}]]},"EliminarEvento":{"ai_tool":[[{"node":"Sub-Agente Calendario","type":"ai_tool","index":0}]]},"ObtenerEventos":{"ai_tool":[[{"node":"Sub-Agente Calendario","type":"ai_tool","index":0}]]},"CrearEventos":{"ai_tool":[[{"node":"Sub-Agente Calendario","type":"ai_tool","index":0}]]},"ObtenerContactos":{"ai_tool":[[{"node":"Sub-Agente base de datos","type":"ai_tool","index":0}]]},"ActualizarEstado":{"ai_tool":[[{"node":"Sub-Agente base de datos","type":"ai_tool","index":0}]]},"EliminarContacto":{"ai_tool":[[{"node":"Sub-Agente base de datos","type":"ai_tool","index":0}]]},"AddContactos":{"ai_tool":[[{"node":"Sub-Agente base de datos","type":"ai_tool","index":0}]]},"Sub-Agente Calendario":{"ai_tool":[[{"node":"Super Agente","type":"ai_tool","index":0}]]},"Sub-Agente Gmail":{"ai_tool":[[{"node":"Super Agente","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Sub-Agente Gmail","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Sub-Agente Calendario","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Sub-Agente base de datos","type":"ai_languageModel","index":0}]]},"Sub-Agente base de datos":{"ai_tool":[[{"node":"Super Agente","type":"ai_tool","index":0}]]},"Pensamiento":{"ai_tool":[[{"node":"Super Agente","type":"ai_tool","index":0}]]},"Call 'Buscador en internet'":{"ai_tool":[[{"node":"Super Agente","type":"ai_tool","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Sub-Agente Propuestas","type":"ai_languageModel","index":0}]]},"Sub-Agente Propuestas":{"ai_tool":[[{"node":"Super Agente","type":"ai_tool","index":0}]]},"CrearEventoconInvitado":{"ai_tool":[[{"node":"Sub-Agente Calendario","type":"ai_tool","index":0}]]},"Presentación Presupuestos Empresa":{"ai_tool":[[{"node":"Sub-Agente Propuestas","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"44bdff8b-4397-4233-be58-f7208ba8fc36","triggerCount":1,"shared":[{"updatedAt":"2025-09-13T16:02:35.979Z","createdAt":"2025-09-13T16:02:35.979Z","role":"workflow:owner","workflowId":"zDC8mnWFl53snbo9","projectId":"wh4E83vibEFlr5PP","project":{"updatedAt":"2025-09-13T14:15:49.403Z","createdAt":"2025-09-13T14:12:59.125Z","id":"wh4E83vibEFlr5PP","name":"Sergi Buendia <sergibuendia02@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-09-13T14:12:59.125Z","createdAt":"2025-09-13T14:12:59.125Z","userId":"1bd88b92-5705-4f6d-bce6-32b14772b3bd","projectId":"wh4E83vibEFlr5PP","user":{"updatedAt":"2025-10-28T10:26:21.000Z","createdAt":"2025-09-13T14:12:58.741Z","id":"1bd88b92-5705-4f6d-bce6-32b14772b3bd","email":"sergibuendia02@gmail.com","firstName":"Sergi","lastName":"Buendia","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-13T14:17:23.383Z","personalization_survey_n8n_version":"1.110.1","companySize":"<20","companyType":"systems-integrator","role":"business-owner","reportedSource":"linkedin"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"zDC8mnWFl53snbo9","userActivatedAt":1757841267956,"npsSurvey":{"responded":true,"lastShownAt":1758270688953}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-10-28","isPending":false}}]}}],"tags":[]}