agente-inmobiliario/AGENTE IMMOBILIARIO.json
{"updatedAt":"2025-09-15T12:14:57.175Z","createdAt":"2025-09-15T12:14:57.175Z","id":"MNKzbpYQmbCbTk7W","name":"AGENTE IMMOBILIARIO","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.text }}{{ $json.text }} {{ $json.content }}","options":{"systemMessage":"=Eres el asistente de Inmobiliaria Inteligente y su CEO se llama Adrian\n\nCuando se agende una visita avisa siempre por slack a los comerciales, pero no lo incluirás en el mensaje de output ni dirás que ya has avisado a los comerciales asignados.\n\n#Importante:\n\nNo le solicitarás el número de whats app al cliente. Este es el número de whats app del cliente para que lo guardes  {{ $json.messages[0].from }}\n\nNo le preguntarás al cliente que comercial prefiere, decidirás tu el comercial asignado para cada visita revisando en la tool [comerciales]\n\nCuando hayas agendado la visita le enviarás la confirmación por correo al cliente utilizando la tool de [gmail]\n\nEs posible que recibás descripciones de imagenes que muestran pisos, deberás analizar si esos pisos estan en las propiedades que tenemos en la inmobiliaria con la tool de [propiedades]. \n\nEn caso de no estar le dirás que esta propiedad no es nuestra pero procederás a ofrecerle otra propiedad que tengamos en la tool [propiedades] que tenga características parecidas. En caso de si estar procederás a conseguir una visita."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-1136,528],"id":"6897b1c3-41fb-4edd-90fd-cbced74e52e5","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1712,960],"id":"fffe11f0-18ed-453a-bcea-a7a3a89e8cdd","name":"OpenAI Chat Model"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1552,1024],"id":"ba271417-806f-4561-ac92-8f23ceedab0e","name":"Window Buffer Memory"},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Deberás construir el HTML del mensaje para que quede bonito y bien organizado`, 'string') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-1360,1040],"id":"33133c71-ffa9-41a5-a662-789bd9f3e85f","name":"Gmail","webhookId":"d7b62c2d-8a56-4fc4-9691-fef3e099517c"},{"parameters":{"operation":"getAll","limit":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}","filters":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-1232,1024],"id":"356aa0d7-ce27-499c-9af3-72c23608b26a","name":"Gmail1","webhookId":"289d3131-9ef9-4433-a49d-44a5f13fa9d2"},{"parameters":{"documentId":{"__rl":true,"value":"1K-Da6UmMdRylIiHRgg_PlMvdm12anzJnOpKqjJ_Ov90","mode":"list","cachedResultName":"CRM Inmobiliaria","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1K-Da6UmMdRylIiHRgg_PlMvdm12anzJnOpKqjJ_Ov90/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":508421015,"mode":"list","cachedResultName":"Propiedades","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1K-Da6UmMdRylIiHRgg_PlMvdm12anzJnOpKqjJ_Ov90/edit#gid=508421015"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-1136,1088],"id":"bb8e2ac6-9e20-434b-a3e4-e4814d296e00","name":"Propiedades"},{"parameters":{"documentId":{"__rl":true,"value":"1K-Da6UmMdRylIiHRgg_PlMvdm12anzJnOpKqjJ_Ov90","mode":"list","cachedResultName":"CRM Inmobiliaria","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1K-Da6UmMdRylIiHRgg_PlMvdm12anzJnOpKqjJ_Ov90/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":538326816,"mode":"list","cachedResultName":"Visitas Horarios","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1K-Da6UmMdRylIiHRgg_PlMvdm12anzJnOpKqjJ_Ov90/edit#gid=538326816"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-976,1088],"id":"60e9d366-6aff-4c2c-85ff-7105169bdba3","name":"Visitas_horarios"},{"parameters":{"documentId":{"__rl":true,"value":"1K-Da6UmMdRylIiHRgg_PlMvdm12anzJnOpKqjJ_Ov90","mode":"list","cachedResultName":"CRM Inmobiliaria","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1K-Da6UmMdRylIiHRgg_PlMvdm12anzJnOpKqjJ_Ov90/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2089378896,"mode":"list","cachedResultName":"Comerciales","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1K-Da6UmMdRylIiHRgg_PlMvdm12anzJnOpKqjJ_Ov90/edit#gid=2089378896"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-832,1088],"id":"2e5203a3-2ff7-4c8e-8e7d-3a15231196a9","name":"Comerciales"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1K-Da6UmMdRylIiHRgg_PlMvdm12anzJnOpKqjJ_Ov90","mode":"list","cachedResultName":"CRM Inmobiliaria","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1K-Da6UmMdRylIiHRgg_PlMvdm12anzJnOpKqjJ_Ov90/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1126580900,"mode":"list","cachedResultName":"Calendario de citas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1K-Da6UmMdRylIiHRgg_PlMvdm12anzJnOpKqjJ_Ov90/edit#gid=1126580900"},"columns":{"mappingMode":"defineBelow","value":{"Nombre cliente":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre_cliente', `Aquí añadiras el nombre del cliente interesado en visitar la propiedad`, 'string') }}","Correo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Correo', `Aquí añadiras el correo del cliente interesado en visitar la propiedad`, 'string') }}","Whats app":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","Comercial Asignado":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Comercial_Asignado', `Aquí añadirás el comercial asignado a esa visita del piso`, 'string') }}","Piso de interés":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Piso_de_inter_s', `Aquí añadirás el piso que visitará el cliente`, 'string') }}","Día de la visita":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('D_a_de_la_visita', `Aquí añadirás el dia de la visita\n\nFormato: Miércoles 05 febrero 15:00pm`, 'string') }}"},"matchingColumns":["Nombre cliente"],"schema":[{"id":"Nombre cliente","displayName":"Nombre cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Correo","displayName":"Correo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Whats app","displayName":"Whats app","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Comercial Asignado","displayName":"Comercial Asignado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Piso de interés","displayName":"Piso de interés","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Día de la visita","displayName":"Día de la visita","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-672,1088],"id":"7bc85bda-3af6-4734-b246-fbe170bf2da3","name":"Programar_visita"},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C08DT6K76H4","mode":"list","cachedResultName":"comerciales-inmobiliaria-inteligente"},"text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_Text', ``, 'string') }}","otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slackTool","typeVersion":2.3,"position":[-656,784],"id":"47455f73-650f-4e78-b3aa-110b38a92bdd","name":"Slack","webhookId":"b229245f-277f-45a2-aa35-dcee6c4415af"},{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-2144,464],"id":"4adc3548-2aba-4cbd-a1a3-a65455f7c574","name":"WhatsApp Trigger","webhookId":"add1462a-9923-4642-9eb8-4f25af1eb8c2"},{"parameters":{"operation":"send","phoneNumberId":"533381876531896","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","textBody":"={{ $json.output.response.parte1 }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-464,16],"id":"1a7754dd-dfba-4a7a-a00d-6c24f50e2224","name":"WhatsApp Business Cloud","webhookId":"abb1e4e5-a2a4-4ae8-b02a-df08d7b7b17d","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","type":"string"}]},"options":{}},"id":"c64d6b72-c2a5-4ba4-a028-74d6e1b1609a","name":"Set 'Text'","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1616,336]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.messages[0].type }}","rightValue":"audio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $json.messages[0].type }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51b64a23-027a-4c9e-b5ae-88eeb60876a3","leftValue":"={{ $json.messages[0].type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"}]},"options":{}},"id":"2f2853ec-3b4b-4a1b-bb51-b1e4b78fbb3a","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1936,464]},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"=data","options":{}},"id":"b537c4a7-9b5d-4acf-9244-6db3154106f5","name":"Transcribir","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-1360,144]},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.messages[0].audio.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1712,144],"id":"94a523e3-1a63-480b-b7f2-0361d71efeef","name":"WhatsApp Business Cloud1","webhookId":"ebf03dfc-cdd0-498c-badf-ab7d31622c02"},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1536,144],"id":"2ceebc3b-4801-40a8-901a-7d000fa77442","name":"HTTP Request"},{"parameters":{"options":{"prompt":"Instructions:\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nPlease try again. Please only respond with an answer that satisfies the constraints laid out in the Instructions:"}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[-304,688],"id":"b5bcb1c3-4737-4690-8864-9ade09e2d02c","name":"Auto-fixing Output Parser"},{"parameters":{"jsonSchemaExample":"{\n  \"response\": {\n    \"parte1\": \"Parte uno de la respuesta\",\n    \"parte2\": \"Parte dos de la respuesta\",\n    \"parte3\": \"Parte tres de la respuesta (opcional).\"   \n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-112,816],"id":"a6bf5c37-5236-4166-ab0e-7c1b8e84a291","name":"Structured Output Parser"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-16,-64],"id":"a8e9de97-8ae7-4e31-8b0b-3c53602e1f70","name":"Wait 2","webhookId":"1edca0c6-1147-41a0-b9a5-cfb63be4aa79"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6c883ec3-6f23-4834-b4fc-a8f7ff5eacc5","leftValue":"={{ $('Generador de respuestas').item.json.output.response.parte3 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[16,240],"id":"d1760f74-a23d-4748-abe8-9aaba57f3e28","name":"If Parte 3"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[448,-32],"id":"23564f76-bcaf-42a9-a4dc-f248486aba84","name":"Wait 3","webhookId":"3faf6a13-1bef-4ba6-a0b8-fed13380537f"},{"parameters":{"assignments":{"assignments":[{"id":"806fb232-eb65-4d07-8d56-499f1da263d8","name":"output","value":"={{ $('AI Agent').item.json.output }}\"\n\n\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,144],"id":"9e14187a-39f4-4e0d-86c2-3466e507c411","name":"on_error"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[464,224],"id":"5d22c7cb-a696-410a-9199-e9ef84d02ef1","name":"No Operation, do nothing2"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=# Adapta la respuesta \"{{ $json.output }}\" de acuerdo a las siguientes instrucciones:\n\n- Elimina estos caractéres:\n  •\"*\", \"¿\", \"¡\", \"#\"\n- Mantén los saltos de línea **cuando corresponda**, principalmente en los listados o Bullet Point Lists.\n- Utiliza signos de interrogación \"?\" **solo en el final de las frases.**\n- El mensaje debe sonar relajado, formal y respetuoso. \n- Si la respuesta es breve, rellena únicamente la parte1.\n- Si la respuesta es más extensa, considera rellenar la parte2 y la parte3.\n- Si el mensaje contiene una lista, déjala sola en una parte, **manteniendo el formato de lista** (con los saltos de línea correspondientes).\n- **El output debe sonar muy natural y humano. Debes eliminar las siguientes frases o similares:\n  - \"Estoy aquí para ayudarte\" \n  - \"Gracias por la información\" \n  - \"No dudes en preguntar\"\n  - \"Con gusto te ayudaré\".**\n- **La respuesta final debe ser lo más similar posible a la respuesta inicial, no cambies radicalmente las palabras o el significado de la respuesta inicial si no es necesario**.\n\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-464,464],"id":"c8ab86f6-f736-4be9-8ad7-8f1ce2dab48d","name":"Generador de respuestas","onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c722cfec-cc19-43f0-804f-5ce50bacff2b","leftValue":"={{ $('Generador de respuestas').item.json.output.response.parte2 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-240,-32],"id":"6a536576-f578-4ee0-907c-af2176609821","name":"If5"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-464,816],"id":"95cf88e5-a981-4c2f-98ec-1fdbbdbe8ca5","name":"OpenAI Chat Model1"},{"parameters":{"operation":"send","phoneNumberId":"533381876531896","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","textBody":"={{ $('Generador de respuestas').item.json.output.response.parte2 }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[144,-64],"id":"485ec752-3bd4-4ab9-9101-45bee9430a73","name":"WhatsApp Business Cloud2","webhookId":"5bc31075-8214-4b7d-b1b7-6db26d35b72a"},{"parameters":{"operation":"send","phoneNumberId":"533381876531896","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","textBody":"={{ $('Generador de respuestas').item.json.output.response.parte3 }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[608,-32],"id":"8ee4a16b-a082-45ee-b50e-6a4e72ce9a32","name":"WhatsApp Business Cloud3","webhookId":"07c5c4a2-e63c-4f29-bfde-c13ac2f81414"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.messages[0].image.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-1760,528],"id":"1e58c9b9-0715-433a-827c-342a7d4c4a03","name":"WhatsApp Business Cloud4","webhookId":"eaeb5842-7a5c-45aa-8851-1ebd7e3d1764"},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1584,528],"id":"64f0eb88-e65d-44d0-b432-ae721cef0db5","name":"HTTP Request1"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"Aquí hay una imagen enviada por el usuario. Describe la imagen y transcribe cualquier texto visible en ella. Proporciona tantos detalles como sea posible.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1392,560],"id":"8d92979d-1533-4489-975f-44898bbbf787","name":"OpenAI"}],"connections":{"AI Agent":{"main":[[{"node":"Generador de respuestas","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Gmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Gmail1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Propiedades":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Visitas_horarios":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Comerciales":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Programar_visita":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Slack":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"WhatsApp Business Cloud":{"main":[[{"node":"If5","type":"main","index":0}],[{"node":"on_error","type":"main","index":0}]]},"Set 'Text'":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Switch":{"main":[[{"node":"WhatsApp Business Cloud1","type":"main","index":0}],[{"node":"Set 'Text'","type":"main","index":0}],[{"node":"WhatsApp Business Cloud4","type":"main","index":0}]]},"Transcribir":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"WhatsApp Business Cloud1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Transcribir","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Generador de respuestas","type":"ai_outputParser","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Wait 2":{"main":[[{"node":"WhatsApp Business Cloud2","type":"main","index":0}]]},"If Parte 3":{"main":[[{"node":"Wait 3","type":"main","index":0},{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Wait 3":{"main":[[{"node":"WhatsApp Business Cloud3","type":"main","index":0}]]},"on_error":{"main":[[{"node":"Generador de respuestas","type":"main","index":0}]]},"Generador de respuestas":{"main":[[{"node":"WhatsApp Business Cloud","type":"main","index":0}]]},"If5":{"main":[[{"node":"Wait 2","type":"main","index":0}],[{"node":"If Parte 3","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0},{"node":"Generador de respuestas","type":"ai_languageModel","index":0}]]},"WhatsApp Business Cloud2":{"main":[[{"node":"If Parte 3","type":"main","index":0}]]},"WhatsApp Business Cloud3":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"WhatsApp Business Cloud4":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1505849e-e391-4496-aa93-78803b6afb29","triggerCount":0,"shared":[{"updatedAt":"2025-09-15T12:14:57.186Z","createdAt":"2025-09-15T12:14:57.186Z","role":"workflow:owner","workflowId":"MNKzbpYQmbCbTk7W","projectId":"wh4E83vibEFlr5PP","project":{"updatedAt":"2025-09-13T14:15:49.403Z","createdAt":"2025-09-13T14:12:59.125Z","id":"wh4E83vibEFlr5PP","name":"Sergi Buendia <sergibuendia02@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-09-13T14:12:59.125Z","createdAt":"2025-09-13T14:12:59.125Z","userId":"1bd88b92-5705-4f6d-bce6-32b14772b3bd","projectId":"wh4E83vibEFlr5PP","user":{"updatedAt":"2025-10-28T10:26:21.000Z","createdAt":"2025-09-13T14:12:58.741Z","id":"1bd88b92-5705-4f6d-bce6-32b14772b3bd","email":"sergibuendia02@gmail.com","firstName":"Sergi","lastName":"Buendia","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-13T14:17:23.383Z","personalization_survey_n8n_version":"1.110.1","companySize":"<20","companyType":"systems-integrator","role":"business-owner","reportedSource":"linkedin"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"zDC8mnWFl53snbo9","userActivatedAt":1757841267956,"npsSurvey":{"responded":true,"lastShownAt":1758270688953}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-10-28","isPending":false}}]}}],"tags":[]}