scraper-contactos-google-maps/Google Maps Scraper (Sin API).json
{"updatedAt":"2025-09-23T19:58:28.000Z","createdAt":"2025-09-23T13:56:29.708Z","id":"KCiiHQoSJsgCQUeI","name":"Google Maps Scraper (Sin API)","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-512,-112],"id":"feb5dea4-43e2-4448-ac39-4825c8c59bfd","name":"When clicking ‘Test workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[288,-112],"id":"1e8cb900-a631-401d-a06d-98532aa8b774","name":"Remove Duplicates"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[688,-112],"id":"b70ba7dc-44dd-47f2-91d3-735fe8aeaee6","name":"Loop Over Items"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1056,-16],"id":"9c0f0eb0-8b2c-4478-8432-e460e5fb463e","name":"Wait","webhookId":"19cc6ed4-4fe7-485b-b879-c679e4b3374d"},{"parameters":{"maxItems":10},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[496,-112],"id":"09bd226a-d0d4-499c-9baf-6e6773088028","name":"Limit"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[864,-176],"id":"8fd24ce0-afba-405e-a156-9c0740915935","name":"Wait1","webhookId":"0fe34756-6e43-4603-8891-5747a9a6500a"},{"parameters":{"fieldToSplitOut":"emails","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1248,-176],"id":"995274fa-0687-42c9-a4ce-c55c0cdec91e","name":"Split Out"},{"parameters":{"jsCode":"const input = $input.first().json.data\nconst regex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.(?!jpeg|jpg|png|gif|webp|svg)[a-zA-Z]{2,}/g\nconst emails = input.match(regex)\nreturn {json: {emails:emails}}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1232,-16],"id":"7e99bcbe-f3dd-46e8-8888-a59d28b7f940","name":"Extract Emails","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const input = $input.first().json.data\nconst regex = /https?:\\/\\/[^\\/\\s\"'>]+/g\nconst websites = input.match(regex)\nreturn websites.map(website => ({json:{website}}))"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-112],"id":"d3ebafb8-0a24-4815-b06a-caf7c9089efe","name":"Extract URLs"},{"parameters":{"url":"https://www.google.com/maps/search/immobiliarias+la+massana+andorra","options":{"allowUnauthorizedCerts":true,"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-320,-112],"id":"00df473f-e75d-4849-8cbd-abe67b513554","name":"Scrape Google Maps"},{"parameters":{"url":"={{ $json.website }}","options":{"redirect":{"redirect":{"followRedirects":false}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[864,-16],"id":"9cdc63f8-1ea8-425f-9916-fe7f982d7f7d","name":"Scrape Site","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a6786c58-424a-409a-b87f-8a7592cb7944","leftValue":"={{ $json.emails }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1056,-176],"id":"50d60db1-c532-4c49-b433-706ac3143c07","name":"Filter Out Empties"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf0a5053-9660-457c-9581-964793bb6d7d","leftValue":"={{ $json.website }}","rightValue":"schema","operator":{"type":"string","operation":"notContains"}},{"id":"9110b9e0-12aa-45cc-bde0-9eda8c10970e","leftValue":"={{ $json.website }}","rightValue":"google","operator":{"type":"string","operation":"notContains"}},{"id":"fb9b6ed6-96a5-4560-ab10-b8a4b9a61a2b","leftValue":"={{ $json.website }}","rightValue":"gg","operator":{"type":"string","operation":"notContains"}},{"id":"10500c0b-cdbd-4816-aba3-df60d69845dc","leftValue":"={{ $json.website }}","rightValue":"gstatic","operator":{"type":"string","operation":"notContains"}},{"id":"ecf06c1b-e5ae-457c-a52d-0fb8babb6da0","leftValue":"={{ $json.website }}","rightValue":"walink","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[96,-112],"id":"603bb145-f1ee-4005-a61c-4da2721c3a03","name":"Filter Google URLs"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[1424,-176],"id":"a6c1b6f0-e632-4c22-b2ee-73f5f8596ae1","name":"Remove Duplicates (2)"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1wmQJK-3QPf9Q_MGGCh2fRZnn8iEM_ia85eLoDGPK5lQ","mode":"list","cachedResultName":"SCRAPER Google Maps (Sin APIs)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wmQJK-3QPf9Q_MGGCh2fRZnn8iEM_ia85eLoDGPK5lQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Emails extraídos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wmQJK-3QPf9Q_MGGCh2fRZnn8iEM_ia85eLoDGPK5lQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Emails extraídos":"={{ $json.emails }}"},"matchingColumns":["Emails extraídos"],"schema":[{"id":"Emails extraídos","displayName":"Emails extraídos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1632,-176],"id":"ac9fd7c9-e96d-425f-afd4-b53b9844e5cd","name":"Add to Sheet (or whatever you want!)","credentials":{"googleSheetsOAuth2Api":{"id":"Gt5D2KwxGrP8IBMJ","name":"Google Sheets account"}}},{"parameters":{"content":"## Video Nick Saraev\n\nhttps://www.youtube.com/watch?v=OroDNJl-pyc\n\n## Revisar a este chaval porque da muchos workflows gratis","height":352},"type":"n8n-nodes-base.stickyNote","position":[752,-704],"typeVersion":1,"id":"00339f9c-722b-4224-a9d3-55685ed8d657","name":"Sticky Note"},{"parameters":{"content":"### Como cambio el negocio al que quiero scrapear?\nSimplemente, en el nodo de scrape google maps, tengo que poner 2 o 3 palabras clave en el link. Ejemplo:\nhttps://www.google.com/maps/search/dentistas+barcelona\no\nhttps://www.google.com/maps/search/immobiliarias+andorra","height":512},"type":"n8n-nodes-base.stickyNote","position":[-384,-448],"typeVersion":1,"id":"b9142dc2-7f35-4c02-a126-dbc97b6a0158","name":"Sticky Note1"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Scrape Google Maps","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"Scrape Site","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Extract Emails","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Filter Out Empties","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Remove Duplicates (2)","type":"main","index":0}]]},"Extract Emails":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract URLs":{"main":[[{"node":"Filter Google URLs","type":"main","index":0}]]},"Scrape Google Maps":{"main":[[{"node":"Extract URLs","type":"main","index":0}]]},"Scrape Site":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Filter Out Empties":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Filter Google URLs":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Remove Duplicates (2)":{"main":[[{"node":"Add to Sheet (or whatever you want!)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1f08779d-4eb8-419b-bf93-00a4764e251b","triggerCount":0,"shared":[{"updatedAt":"2025-09-23T13:56:29.716Z","createdAt":"2025-09-23T13:56:29.716Z","role":"workflow:owner","workflowId":"KCiiHQoSJsgCQUeI","projectId":"wh4E83vibEFlr5PP","project":{"updatedAt":"2025-09-13T14:15:49.403Z","createdAt":"2025-09-13T14:12:59.125Z","id":"wh4E83vibEFlr5PP","name":"Sergi Buendia <sergibuendia02@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-09-13T14:12:59.125Z","createdAt":"2025-09-13T14:12:59.125Z","userId":"1bd88b92-5705-4f6d-bce6-32b14772b3bd","projectId":"wh4E83vibEFlr5PP","user":{"updatedAt":"2025-10-28T10:26:21.000Z","createdAt":"2025-09-13T14:12:58.741Z","id":"1bd88b92-5705-4f6d-bce6-32b14772b3bd","email":"sergibuendia02@gmail.com","firstName":"Sergi","lastName":"Buendia","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-13T14:17:23.383Z","personalization_survey_n8n_version":"1.110.1","companySize":"<20","companyType":"systems-integrator","role":"business-owner","reportedSource":"linkedin"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"zDC8mnWFl53snbo9","userActivatedAt":1757841267956,"npsSurvey":{"responded":true,"lastShownAt":1758270688953}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-10-28","isPending":false}}]}}],"tags":[]}