outlook-automatizado-organizado/Outlook automatizado - Label classifier.json
{"updatedAt":"2025-09-30T09:28:27.000Z","createdAt":"2025-09-14T17:36:35.639Z","id":"m7WLLrSX4SUvTSqb","name":"Outlook automatizado - Label classifier","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"move","messageId":{"__rl":true,"value":"={{ $('Get a message').item.json.id }}","mode":"id"},"folderId":{"__rl":true,"value":"AQMkADAwATY0MDABLWFhADdiLTFiOWQtMDACLTAwCgAuAAAD0Z0ZRTZ6HEWCfEfiRN8ZMgEAFNLW19WJ40GosXm2w939NAAJOWkBQwAAAA==","mode":"list","cachedResultName":"Otro","cachedResultUrl":"https://outlook.office365.com/mail/AQMkADAwATY0MDABLWFhADdiLTFiOWQtMDACLTAwCgAuAAAD0Z0ZRTZ6HEWCfEfiRN8ZMgEAFNLW19WJ40GosXm2w939NAAJOWkBQwAAAA%3D%3D"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[976,-384],"id":"262a2af7-b34c-483e-bdd3-9fd803c951a5","name":"OTRO","webhookId":"782634a2-4c01-4d5d-b54b-2f962ca3812e","credentials":{"microsoftOutlookOAuth2Api":{"id":"SxQKCTAA9b32LrGG","name":"Microsoft Outlook account"}}},{"parameters":{"operation":"move","messageId":{"__rl":true,"value":"={{ $('Get a message').item.json.id }}","mode":"id"},"folderId":{"__rl":true,"value":"AQMkADAwATY0MDABLWFhADdiLTFiOWQtMDACLTAwCgAuAAAD0Z0ZRTZ6HEWCfEfiRN8ZMgEAFNLW19WJ40GosXm2w939NAAJOWkBQQAAAA==","mode":"list","cachedResultName":"Inteligencia Artificial","cachedResultUrl":"https://outlook.office365.com/mail/AQMkADAwATY0MDABLWFhADdiLTFiOWQtMDACLTAwCgAuAAAD0Z0ZRTZ6HEWCfEfiRN8ZMgEAFNLW19WJ40GosXm2w939NAAJOWkBQQAAAA%3D%3D"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[976,-512],"id":"49ce7b28-2a26-42ec-9f5c-51dbd3e57495","name":"IA","webhookId":"782634a2-4c01-4d5d-b54b-2f962ca3812e","credentials":{"microsoftOutlookOAuth2Api":{"id":"SxQKCTAA9b32LrGG","name":"Microsoft Outlook account"}}},{"parameters":{"operation":"move","messageId":{"__rl":true,"value":"={{ $('Get a message').item.json.id }}","mode":"id"},"folderId":{"__rl":true,"value":"AQMkADAwATY0MDABLWFhADdiLTFiOWQtMDACLTAwCgAuAAAD0Z0ZRTZ6HEWCfEfiRN8ZMgEAFNLW19WJ40GosXm2w939NAAJOWkBQAAAAA==","mode":"list","cachedResultName":"Ventas y facturas","cachedResultUrl":"https://outlook.office365.com/mail/AQMkADAwATY0MDABLWFhADdiLTFiOWQtMDACLTAwCgAuAAAD0Z0ZRTZ6HEWCfEfiRN8ZMgEAFNLW19WJ40GosXm2w939NAAJOWkBQAAAAA%3D%3D"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[976,-240],"id":"7fbccba6-04d9-46e5-aa1c-302e6dec6597","name":"VENTAS Y FACTURAS","webhookId":"782634a2-4c01-4d5d-b54b-2f962ca3812e","credentials":{"microsoftOutlookOAuth2Api":{"id":"SxQKCTAA9b32LrGG","name":"Microsoft Outlook account"}}},{"parameters":{"operation":"move","messageId":{"__rl":true,"value":"={{ $('Get a message').item.json.id }}","mode":"id"},"folderId":{"__rl":true,"value":"AQMkADAwATY0MDABLWFhADdiLTFiOWQtMDACLTAwCgAuAAAD0Z0ZRTZ6HEWCfEfiRN8ZMgEAFNLW19WJ40GosXm2w939NAAJOWkBPgAAAA==","mode":"list","cachedResultName":"Anuncios y propaganda","cachedResultUrl":"https://outlook.office365.com/mail/AQMkADAwATY0MDABLWFhADdiLTFiOWQtMDACLTAwCgAuAAAD0Z0ZRTZ6HEWCfEfiRN8ZMgEAFNLW19WJ40GosXm2w939NAAJOWkBPgAAAA%3D%3D"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[976,-96],"id":"d6a2eea5-b371-4d0c-a8c3-a9b9d50d4ae4","name":"ANUNCIOS Y PROPAGANDA","webhookId":"782634a2-4c01-4d5d-b54b-2f962ca3812e","credentials":{"microsoftOutlookOAuth2Api":{"id":"SxQKCTAA9b32LrGG","name":"Microsoft Outlook account"}}},{"parameters":{"operation":"move","messageId":{"__rl":true,"value":"={{ $('Get a message').item.json.id }}","mode":"id"},"folderId":{"__rl":true,"value":"AQMkADAwATY0MDABLWFhADdiLTFiOWQtMDACLTAwCgAuAAAD0Z0ZRTZ6HEWCfEfiRN8ZMgEAFNLW19WJ40GosXm2w939NAAJOWkBPwAAAA==","mode":"list","cachedResultName":"Newsletters","cachedResultUrl":"https://outlook.office365.com/mail/AQMkADAwATY0MDABLWFhADdiLTFiOWQtMDACLTAwCgAuAAAD0Z0ZRTZ6HEWCfEfiRN8ZMgEAFNLW19WJ40GosXm2w939NAAJOWkBPwAAAA%3D%3D"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[976,96],"id":"d4f896cf-6a01-4bfa-9130-2c90c699beb8","name":"NEWSLETTERS","webhookId":"782634a2-4c01-4d5d-b54b-2f962ca3812e","credentials":{"microsoftOutlookOAuth2Api":{"id":"SxQKCTAA9b32LrGG","name":"Microsoft Outlook account"}}},{"parameters":{"operation":"move","messageId":{"__rl":true,"value":"={{ $('Get a message').item.json.id }}","mode":"id"},"folderId":{"__rl":true,"value":"AQMkADAwATY0MDABLWFhADdiLTFiOWQtMDACLTAwCgAuAAAD0Z0ZRTZ6HEWCfEfiRN8ZMgEAFNLW19WJ40GosXm2w939NAAJOWkBPQAAAA==","mode":"list","cachedResultName":"Personal","cachedResultUrl":"https://outlook.office365.com/mail/AQMkADAwATY0MDABLWFhADdiLTFiOWQtMDACLTAwCgAuAAAD0Z0ZRTZ6HEWCfEfiRN8ZMgEAFNLW19WJ40GosXm2w939NAAJOWkBPQAAAA%3D%3D"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[976,240],"id":"54fc1004-1ddb-41d7-82f3-a61139548ca5","name":"PERSONAL","webhookId":"782634a2-4c01-4d5d-b54b-2f962ca3812e","credentials":{"microsoftOutlookOAuth2Api":{"id":"SxQKCTAA9b32LrGG","name":"Microsoft Outlook account"}}},{"parameters":{"operation":"move","messageId":{"__rl":true,"value":"={{ $('Get a message').item.json.id }}","mode":"id"},"folderId":{"__rl":true,"value":"AQMkADAwATY0MDABLWFhADdiLTFiOWQtMDACLTAwCgAuAAAD0Z0ZRTZ6HEWCfEfiRN8ZMgEAFNLW19WJ40GosXm2w939NAAJOWkBOwAAAA==","mode":"list","cachedResultName":"Entrevistas de trabajo","cachedResultUrl":"https://outlook.office365.com/mail/AQMkADAwATY0MDABLWFhADdiLTFiOWQtMDACLTAwCgAuAAAD0Z0ZRTZ6HEWCfEfiRN8ZMgEAFNLW19WJ40GosXm2w939NAAJOWkBOwAAAA%3D%3D"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[976,416],"id":"be5dede8-7e8b-4dd2-8623-b374f8da5487","name":"ENTREVISTAS TRABAJO","webhookId":"782634a2-4c01-4d5d-b54b-2f962ca3812e","credentials":{"microsoftOutlookOAuth2Api":{"id":"SxQKCTAA9b32LrGG","name":"Microsoft Outlook account"}}},{"parameters":{"operation":"move","messageId":{"__rl":true,"value":"={{ $('Get a message').item.json.id }}","mode":"id"},"folderId":{"__rl":true,"value":"AQMkADAwATY0MDABLWFhADdiLTFiOWQtMDACLTAwCgAuAAAD0Z0ZRTZ6HEWCfEfiRN8ZMgEAFNLW19WJ40GosXm2w939NAAJOWkBRQAAAA==","mode":"list","cachedResultName":"Redes sociales","cachedResultUrl":"https://outlook.office365.com/mail/AQMkADAwATY0MDABLWFhADdiLTFiOWQtMDACLTAwCgAuAAAD0Z0ZRTZ6HEWCfEfiRN8ZMgEAFNLW19WJ40GosXm2w939NAAJOWkBRQAAAA%3D%3D"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[992,752],"id":"d81f9998-5e52-4da0-8dd4-326ce5393015","name":"REDES SOCIALES","webhookId":"782634a2-4c01-4d5d-b54b-2f962ca3812e","credentials":{"microsoftOutlookOAuth2Api":{"id":"SxQKCTAA9b32LrGG","name":"Microsoft Outlook account"}}},{"parameters":{"operation":"move","messageId":{"__rl":true,"value":"={{ $('Get a message').item.json.id }}","mode":"id"},"folderId":{"__rl":true,"value":"AQMkADAwATY0MDABLWFhADdiLTFiOWQtMDACLTAwCgAuAAAD0Z0ZRTZ6HEWCfEfiRN8ZMgEAFNLW19WJ40GosXm2w939NAAJOWkBQgAAAA==","mode":"list","cachedResultName":"Eventos y reuniones","cachedResultUrl":"https://outlook.office365.com/mail/AQMkADAwATY0MDABLWFhADdiLTFiOWQtMDACLTAwCgAuAAAD0Z0ZRTZ6HEWCfEfiRN8ZMgEAFNLW19WJ40GosXm2w939NAAJOWkBQgAAAA%3D%3D"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[976,-672],"id":"b9e6b1d4-e85f-4002-ba4d-82927fe7e2fb","name":"EVENTOS Y REUNIONES","webhookId":"782634a2-4c01-4d5d-b54b-2f962ca3812e","credentials":{"microsoftOutlookOAuth2Api":{"id":"SxQKCTAA9b32LrGG","name":"Microsoft Outlook account"}}},{"parameters":{"operation":"move","messageId":{"__rl":true,"value":"={{ $('Get a message').item.json.id }}","mode":"id"},"folderId":{"__rl":true,"value":"AQMkADAwATY0MDABLWFhADdiLTFiOWQtMDACLTAwCgAuAAAD0Z0ZRTZ6HEWCfEfiRN8ZMgEAFNLW19WJ40GosXm2w939NAAJOWkBPAAAAA==","mode":"list","cachedResultName":"Ofertas de empleo","cachedResultUrl":"https://outlook.office365.com/mail/AQMkADAwATY0MDABLWFhADdiLTFiOWQtMDACLTAwCgAuAAAD0Z0ZRTZ6HEWCfEfiRN8ZMgEAFNLW19WJ40GosXm2w939NAAJOWkBPAAAAA%3D%3D"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[992,592],"id":"0960e984-66e5-4ce9-bf74-db3d099218c0","name":"OFERTAS EMPLEO","webhookId":"782634a2-4c01-4d5d-b54b-2f962ca3812e","credentials":{"microsoftOutlookOAuth2Api":{"id":"SxQKCTAA9b32LrGG","name":"Microsoft Outlook account"}}},{"parameters":{"promptType":"define","text":"=Aquí tienes el correo electrónico:  {{ $('Message a model1').item.json.message.content }}","options":{"systemMessage":"# Descripción general:\nEres un agente virtual especializado en facturación electrónica. Tu función principal es responder correos relacionados con facturación de manera clara, profesional y eficiente.\n\n# Objetivo:\nBrindar asistencia inmediata y precisa sobre facturas, pagos, errores de facturación, reenvíos de comprobantes, fechas de emisión, y cualquier duda relacionada con procesos contables y administrativos.\n\n## Herramientas:\n\nCrear borrador: Usa esta herramienta para enviar un email de respuesta al email recibido\n\n# Tono y estilo:\n- Profesional, respetuoso y empático.\n- Utiliza lenguaje formal pero accesible.\n- Evita tecnicismos innecesarios, a menos que el usuario los requiera.\n\n# Comportamiento:\n- Nunca inventes información. Si no tienes suficiente contexto, responde solicitando los datos necesarios (por ejemplo: número de factura, fecha, razón social, etc.).\n- Si el mensaje incluye un reclamo o queja, responde con cortesía y ofrece una solución o canal de contacto.\n- Resume la información con claridad y organiza la respuesta en párrafos cortos.\n- Firma como \"Sergi Buendia\" al final de cada correo.\n\n# Reglas específicas:\n- Si recibimos una factura, responder diciendo que la hemos recibido sin problema\n- Si se menciona un error en los datos, explica el procedimiento para corrección.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1888,-608],"id":"7e3fb08c-b0f8-49ec-b5cf-ee1c0bff5b4f","name":"Agente de facturas"},{"parameters":{"resource":"draft","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","bodyContent":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","additionalFields":{"toRecipients":"={{ $('Get many messages').item.json.sender.emailAddress.address }}"}},"type":"n8n-nodes-base.microsoftOutlookTool","typeVersion":2,"position":[2128,-384],"id":"cf546df0-03ff-4881-b700-f087de186fb0","name":"Create a draft in Microsoft Outlook","webhookId":"fe700587-0fda-4ea5-91ff-a6e32fd55b12","credentials":{"microsoftOutlookOAuth2Api":{"id":"SxQKCTAA9b32LrGG","name":"Microsoft Outlook account"}}},{"parameters":{"chatId":"2145049881","text":"=Nueva consulta de facturación recibida a las {{ $now.setZone('Europe/Madrid').format('HH:mm') }} de {{ $('Get a message').item.json.sender.emailAddress.name }}\n\nUn borrador ha sido creado en su bandeja de Outlook con la respuesta. Verifícalo.\n\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2384,-608],"id":"370699df-3d9c-4d1f-9b88-7ffeec9c63b9","name":"Send a text message10","webhookId":"72a6ba55-f589-49fb-9397-13047bed24b1","credentials":{"telegramApi":{"id":"Eklfo1Cg8sEEFDRL","name":"Telegram account"}}},{"parameters":{"resource":"draft","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","bodyContent":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","additionalFields":{"toRecipients":"={{ $('Get a message').item.json.sender.emailAddress.address }}"}},"type":"n8n-nodes-base.microsoftOutlookTool","typeVersion":2,"position":[2176,192],"id":"318b24de-b67f-462a-9f4c-f2bc99756a66","name":"Create a draft in Microsoft Outlook1","webhookId":"fe700587-0fda-4ea5-91ff-a6e32fd55b12","credentials":{"microsoftOutlookOAuth2Api":{"id":"SxQKCTAA9b32LrGG","name":"Microsoft Outlook account"}}},{"parameters":{"chatId":"2145049881","text":"=Nueva consulta de facturación recibida a las {{ $now.setZone('Europe/Madrid').format('HH:mm') }} de {{ $('Get a message').item.json.sender.emailAddress.name }}\n\nUn borrador ha sido creado en su bandeja de Outlook con la respuesta. Verifícalo.\n\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2432,-32],"id":"c97ca6a7-e63f-40d6-8a5f-27023f692fbf","name":"Send a text message11","webhookId":"72a6ba55-f589-49fb-9397-13047bed24b1","credentials":{"telegramApi":{"id":"Eklfo1Cg8sEEFDRL","name":"Telegram account"}}},{"parameters":{"resource":"draft","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","bodyContent":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","additionalFields":{"toRecipients":"={{ $('Get a message').item.json.from.emailAddress.address }}"}},"type":"n8n-nodes-base.microsoftOutlookTool","typeVersion":2,"position":[2192,768],"id":"c5e13233-6be6-474c-a191-bbe592c01815","name":"Create a draft in Microsoft Outlook2","webhookId":"fe700587-0fda-4ea5-91ff-a6e32fd55b12","credentials":{"microsoftOutlookOAuth2Api":{"id":"SxQKCTAA9b32LrGG","name":"Microsoft Outlook account"}}},{"parameters":{"chatId":"2145049881","text":"=Nuevo correo electrónico relacionado con una oferta de empleo {{ $now.setZone('Europe/Madrid').format('HH:mm') }} enviado por {{ $('Get a message').item.json.sender.emailAddress.name }}\n\nUn borrador ha sido creado en su bandeja de Outlook con la respuesta. Verifícalo.\n\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2416,544],"id":"5b80999c-aedf-4046-b623-d255287a10b2","name":"Send a text message12","webhookId":"72a6ba55-f589-49fb-9397-13047bed24b1","credentials":{"telegramApi":{"id":"Eklfo1Cg8sEEFDRL","name":"Telegram account"}}},{"parameters":{"chatId":"2145049881","text":"=**Nuevo correo electrónico**: Eventos y reuniones\n\n**Correo enviado por**: {{ $('Get a message').item.json.sender.emailAddress.name }}\n\n**Asunto**: {{ $('Get a message').item.json.subject }}\n\n**Fecha**: {{ $now.format('yyyy-MM-dd') }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1536,-864],"id":"d488914a-6346-410f-8293-296c710bb591","name":"Aviso de correo recibido","webhookId":"72a6ba55-f589-49fb-9397-13047bed24b1","credentials":{"telegramApi":{"id":"Eklfo1Cg8sEEFDRL","name":"Telegram account"}},"disabled":true},{"parameters":{"chatId":"2145049881","text":"=**Nuevo correo electrónico**: Inteligencia Artificial\n\n**Correo enviado por**: {{ $('Get a message').item.json.from.emailAddress.name }}\n\n**Asunto**: {{ $('Get a message').item.json.subject }}\n\n**Fecha**: {{ $now.format('yyyy-MM-dd') }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1536,-704],"id":"3fcb86a8-57c2-4df9-89a3-220d8e60df25","name":"Aviso de correo recibido1","webhookId":"72a6ba55-f589-49fb-9397-13047bed24b1","credentials":{"telegramApi":{"id":"Eklfo1Cg8sEEFDRL","name":"Telegram account"}}},{"parameters":{"chatId":"2145049881","text":"=**Nuevo correo electrónico**: OTRO\n\n**Correo enviado por**: {{ $('Get a message').item.json.sender.emailAddress.name }}\n\n**Asunto**: {{ $('Get a message').item.json.subject }}\n\n**Fecha**: {{ $now.format('yyyy-MM-dd') }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1536,-528],"id":"260b2b3e-2465-45d6-8797-7727f2036e80","name":"Aviso de correo recibido2","webhookId":"72a6ba55-f589-49fb-9397-13047bed24b1","credentials":{"telegramApi":{"id":"Eklfo1Cg8sEEFDRL","name":"Telegram account"}},"disabled":true},{"parameters":{"chatId":"2145049881","text":"=**Nuevo correo electrónico**: Ventas y facturas\n\n**Correo enviado por**: {{ $('Get a message').item.json.sender.emailAddress.name }}\n\n**Asunto**: {{ $('Get a message').item.json.subject }}\n\n**Fecha**: {{ $now.format('yyyy-MM-dd') }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1536,-320],"id":"c0e363d2-673e-4819-b323-064280ad5dea","name":"Aviso de correo recibido3","webhookId":"72a6ba55-f589-49fb-9397-13047bed24b1","credentials":{"telegramApi":{"id":"Eklfo1Cg8sEEFDRL","name":"Telegram account"}}},{"parameters":{"chatId":"2145049881","text":"=**Nuevo correo electrónico**: Anuncios y propaganda\n\n**Correo enviado por**: {{ $('Get a message').item.json.sender.emailAddress.name }}\n\n**Asunto**: {{ $('Get a message').item.json.subject }}\n\n**Fecha**: {{ $now.format('yyyy-MM-dd') }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1536,-160],"id":"f349e662-e0bc-4fda-8bd4-479cf05ed3a8","name":"Aviso de correo recibido4","webhookId":"72a6ba55-f589-49fb-9397-13047bed24b1","credentials":{"telegramApi":{"id":"Eklfo1Cg8sEEFDRL","name":"Telegram account"}},"disabled":true},{"parameters":{"chatId":"2145049881","text":"=**Nuevo correo electrónico**: Newsletters\n\n**Correo enviado por**: {{ $('Get a message').item.json.sender.emailAddress.name }}\n\n**Asunto**: {{ $('Get a message').item.json.subject }}\n\n**Fecha**: {{ $now.format('yyyy-MM-dd') }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1536,16],"id":"5b04ae9f-89fd-432d-95ed-15f7df89ce57","name":"Aviso de correo recibido5","webhookId":"72a6ba55-f589-49fb-9397-13047bed24b1","credentials":{"telegramApi":{"id":"Eklfo1Cg8sEEFDRL","name":"Telegram account"}},"disabled":true},{"parameters":{"chatId":"2145049881","text":"=**Nuevo correo electrónico**: Personal\n\n**Correo enviado por**: {{ $('Get a message').item.json.sender.emailAddress.name }}\n\n**Asunto**: {{ $('Get a message').item.json.subject }}\n\n**Fecha**: {{ $now.format('yyyy-MM-dd') }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1536,208],"id":"979c198d-826c-40a7-99ee-d29da60aecdb","name":"Aviso de correo recibido6","webhookId":"72a6ba55-f589-49fb-9397-13047bed24b1","credentials":{"telegramApi":{"id":"Eklfo1Cg8sEEFDRL","name":"Telegram account"}},"disabled":true},{"parameters":{"chatId":"2145049881","text":"=**Nuevo correo electrónico**: Entrevistas de trabajo\n\n**Correo enviado por**: {{ $('Get a message').item.json.sender.emailAddress.name }}\n\n**Asunto**: {{ $('Get a message').item.json.subject }}\n\n**Fecha**: {{ $now.format('yyyy-MM-dd') }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1536,384],"id":"def5a693-c869-4236-8715-01584857903e","name":"Aviso de correo recibido7","webhookId":"72a6ba55-f589-49fb-9397-13047bed24b1","credentials":{"telegramApi":{"id":"Eklfo1Cg8sEEFDRL","name":"Telegram account"}}},{"parameters":{"chatId":"2145049881","text":"=**Nuevo correo electrónico**: Ofertas de trabajo\n\n**Correo enviado por**: {{ $('Get a message').item.json.sender.emailAddress.name }}\n\n**Asunto**: {{ $('Get a message').item.json.subject }}\n\n**Fecha**: {{ $now.format('yyyy-MM-dd') }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1536,560],"id":"4afff00c-f3d9-4539-ba87-7177a94de2f2","name":"Aviso de correo recibido8","webhookId":"72a6ba55-f589-49fb-9397-13047bed24b1","credentials":{"telegramApi":{"id":"Eklfo1Cg8sEEFDRL","name":"Telegram account"}}},{"parameters":{"chatId":"2145049881","text":"=**Nuevo correo electrónico**: Redes sociales\n\n**Correo enviado por**: {{ $('Get a message').item.json.sender.emailAddress.name }}\n\n**Asunto**: {{ $('Get a message').item.json.subject }}\n\n**Fecha**: {{ $now.format('yyyy-MM-dd') }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1536,752],"id":"d694ab92-6ec9-4ec8-9d20-a05b6f4b7208","name":"Aviso de correo recibido9","webhookId":"72a6ba55-f589-49fb-9397-13047bed24b1","credentials":{"telegramApi":{"id":"Eklfo1Cg8sEEFDRL","name":"Telegram account"}},"disabled":true},{"parameters":{"promptType":"define","text":"=Aquí tienes el correo electrónico:  {{ $('Message a model1').item.json.message.content }}","options":{"systemMessage":"# Descripción general:\nEres un asistente virtual especializado en redactar borradores de respuestas a correos personales. Tu objetivo es ayudar al usuario a contestar mensajes de manera clara, empática y bien escrita, manteniendo el tono adecuado según el contexto.\n\n# Objetivo:\nCrear borradores coherentes, naturales y bien estructurados que el usuario pueda revisar y enviar fácilmente. El contenido debe reflejar las intenciones del usuario y responder de forma directa al mensaje recibido.\n\n# Tono y estilo:\n- Adapta el tono según el tipo de mensaje (informal, cordial, agradecido, serio, etc.).\n- Sé empático y humano, pero mantén la corrección gramatical y ortográfica.\n- Usa un lenguaje sencillo, sin exagerar la formalidad, salvo que el contexto lo requiera.\n- Evita repeticiones y frases genéricas.\n\n# Instrucciones específicas:\n- Responde directamente al contenido del correo original que el usuario ha recibido.\n- No inventes información adicional: si falta contexto, sugiere una respuesta neutral o pide aclaraciones.\n- Si el correo requiere una acción, proponla de forma clara (por ejemplo: confirmar reunión, enviar un archivo, etc.).\n- Si el usuario no especifica el tono, usa uno cordial y profesional por defecto.\n\n# Formato de respuesta:\n- Escribe un borrador listo para ser enviado por correo electrónico.\n- No incluyas encabezados, firmas automáticas ni elementos técnicos (eso lo gestionará el cliente de correo).\n\n# Firma:\nNo incluyas firma; el usuario la añadirá manualmente si lo desea."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1936,-32],"id":"a070378e-0e85-4c96-a7c4-28a50872fc44","name":"Agente personal"},{"parameters":{"promptType":"define","text":"=Aquí tienes el correo electrónico:  {{ $('Message a model1').item.json.message.content }}","options":{"systemMessage":"# Descripción general:\nEres un asistente virtual especializado en redactar borradores de respuestas a correos relacionados con procesos de búsqueda de empleo, entrevistas laborales y oportunidades profesionales. Tu misión es ayudar al usuario a responder de forma profesional, clara y estratégica.\n\n# Objetivo:\nRedactar borradores listos para enviar en respuesta a:\n- Invitaciones a entrevistas laborales.\n- Confirmaciones de disponibilidad.\n- Solicitudes de información adicional.\n- Seguimientos post-entrevista.\n- Rechazos educados o negociaciones cordiales.\n\n# Tono y estilo:\n- Profesional, educado y seguro, sin sonar arrogante.\n- Amable, respetuoso y orientado a generar una buena impresión.\n- Usa un lenguaje claro, directo y con buena gramática.\n- Evita tecnicismos innecesarios o frases vagas.\n\n# Instrucciones específicas:\n- Adapta el contenido según el tipo de mensaje recibido.\n- Si es una invitación a entrevista: confirma disponibilidad o propone alternativas de horario.\n- Si es una solicitud de documentos: agradece y menciona que se enviarán a la brevedad.\n- Si es un seguimiento: responde con cortesía y muestra interés.\n- Si se desea rechazar la oferta: hazlo de forma agradecida y profesional.\n- Nunca inventes datos; si falta contexto, redacta un borrador neutral que solicite la información necesaria.\n\n# Formato:\n- Elabora un texto completo, listo para ser enviado por correo electrónico.\n- No incluyas encabezados, firmas automáticas ni elementos técnicos.\n- No uses formato Markdown ni etiquetas HTML.\n\n# Firma:\nIncluye siempre la firma 'Sergi Buendia'"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1952,544],"id":"a5d1de39-6618-4f87-8c34-d0e2c4092106","name":"Agente de empleo"},{"parameters":{"content":"## Limpia el correo en caso de ser formato HTML o formato desconocido\n","height":288,"width":304},"type":"n8n-nodes-base.stickyNote","position":[-336,32],"typeVersion":1,"id":"92fa8875-f923-4329-a61f-ccea7451fe2e","name":"Sticky Note1"},{"parameters":{"content":"## Clasificador de mails en carpetas distintas","height":1760,"width":272,"color":4},"type":"n8n-nodes-base.stickyNote","position":[688,-832],"typeVersion":1,"id":"f1f24167-2ebf-4c54-b889-591ff0b7b1bf","name":"Sticky Note2"},{"parameters":{"content":"## Aviso de correo recibido por telegram","height":1968,"width":288,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1232,-944],"typeVersion":1,"id":"463f3687-345d-43da-8d6f-09e2e267854a","name":"Sticky Note3"},{"parameters":{"content":"## Agente para contestar correos relacionados con facturas","height":496,"width":688,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1840,-720],"typeVersion":1,"id":"41e9a458-eb87-43b7-ab30-2a828f847ce6","name":"Sticky Note4"},{"parameters":{"content":"## Agente para contestar correos personales","height":496,"width":688,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1888,-112],"typeVersion":1,"id":"e8b98dfa-caff-46fb-b3cb-94cf61e617a7","name":"Sticky Note5"},{"parameters":{"content":"## Agente para contestar correos relacionados con entrevistas de trabajo","height":496,"width":736,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1824,464],"typeVersion":1,"id":"631f1dfc-a86c-4a2a-a5c6-73b22fa0e9a6","name":"Sticky Note6"},{"parameters":{"inputText":"={{ $json.message.content }}","categories":{"categories":[{"category":"Eventos y reuniones","description":"Correos relacionados con la organización, invitación o recordatorios de eventos, seminarios, conferencias, webinars, reuniones, ferias, fiestas o talleres, tanto presenciales como virtuales."},{"category":"Inteligencia Artificial","description":"Correos que contienen información, novedades, noticias, artículos, invitaciones o productos relacionados con inteligencia artificial, machine learning, modelos de lenguaje, automatización inteligente o temas técnicos afines."},{"category":"Otro","description":"Correos que no encajan claramente en ninguna de las demás categorías disponibles. Esta categoría funciona como una opción general o miscelánea."},{"category":"Ventas y facturas","description":"Correos relacionados con transacciones comerciales, facturación, pagos, comprobantes, presupuestos, órdenes de compra, recibos, renovaciones de servicios y promociones específicas con fines de venta."},{"category":"Anuncios y propaganda","description":"Correos promocionales o publicitarios que no son personalizados. Incluye campañas de marketing masivo, lanzamientos de productos, descuentos generales, y mensajes de alcance comercial."},{"category":"Newsletters","description":"Boletines informativos o resúmenes enviados periódicamente por suscripciones, blogs, medios de comunicación, empresas o plataformas informativas. Incluyen contenido editorial, educativo o de interés general."},{"category":"Personal","description":"Correos de carácter personal, informal o directo, enviados por amigos, familiares, conocidos o contactos no relacionados con temas laborales, académicos o comerciales."},{"category":"Entrevistas de trabajo","description":"Correos relacionados con procesos de selección, agendamiento de entrevistas, confirmaciones, evaluaciones o seguimiento de candidaturas a empleos. Incluye tanto mensajes de reclutadores como de plataformas de empleo."},{"category":"Ofertas de trabajo y vacantes","description":"Correos que contienen propuestas laborales, invitaciones a postularse a empleos, sugerencias de vacantes, alertas de empleo, y comunicaciones automatizadas de bolsas de trabajo o headhunters, así como ofertas de empleo de LinkedIn o otros portales de empleo."},{"category":"Redes sociales","description":"Notificaciones, mensajes o boletines provenientes de plataformas de redes sociales como LinkedIn, Twitter, Facebook, Instagram, etc. Incluye menciones, nuevos seguidores, estadísticas de publicaciones, recomendaciones de contactos y nuevos seguidores o nuevas conexiones."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[288,-48],"id":"92b9d7e6-de42-442b-b31e-8e27cb17ae58","name":"Clasificador de correos"},{"parameters":{"rule":{"interval":[{"triggerAtHour":22}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1568,32],"id":"91872199-5058-4c08-944e-4b17e4e1c359","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1568,192],"id":"dc322687-3d26-495f-9a31-fa445820a881","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"getAll","returnAll":true,"output":"raw","filtersUI":{"values":{"filters":{"foldersToInclude":["AQMkADAwATY0MDABLWFhADdiLTFiOWQtMDACLTAwCgAuAAAD0Z0ZRTZ6HEWCfEfiRN8ZMgEAFNLW19WJ40GosXm2w939NAAAAgEMAAAA"],"receivedAfter":"={{ $now.setZone('Europe/Madrid').minus(24, 'hours').toISO() }}"}}},"options":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-1184,128],"id":"345cb5de-a135-4506-ab9b-39153bea4c88","name":"Get many messages","webhookId":"f6142768-1b1b-485c-b44a-189a145ba4f9","credentials":{"microsoftOutlookOAuth2Api":{"id":"SxQKCTAA9b32LrGG","name":"Microsoft Outlook account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-864,160],"id":"f4a7a45c-8136-42be-8ea9-fe410dee25c3","name":"Loop Over Items"},{"parameters":{"operation":"get","messageId":{"__rl":true,"value":"={{ $('Get many messages').item.json.id }}","mode":"id"},"output":"raw","options":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-560,160],"id":"dc419f2f-a1f0-4f99-9075-431b7ff5bb2b","name":"Get a message","webhookId":"f51ec466-db97-4a15-bffd-03699f094221","credentials":{"microsoftOutlookOAuth2Api":{"id":"SxQKCTAA9b32LrGG","name":"Microsoft Outlook account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Aqui hay un correo entrante: {{ $json.body.content }}"},{"content":"Toma el correo electrónico entrante y límpialo para que sea más legible. Es decir, quiero que quites el formato HTML, pero sin eliminar nada del contenido del correo electrónico. \n\n# Notas importantes (Obligatorio)\n\n- Solo quiero que actúes si el correo es en formato HTML. Si EL CORREO NO ESTÁ EN HTML, NO HAGAS NADA\n- No incluyas un asunto, solo quiero el contenido del cuerpo del correo.\n- No incluyas nada en el mensaje, simplemente pásame el correo sin HTML","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-304,160],"id":"f630477f-8215-481b-bde1-a0142f1a5323","name":"Message a model1","credentials":{"openAiApi":{"id":"LFnduX1SkoDgy4eT","name":"OpenAi account"}}},{"parameters":{"content":"## Hace loops, para que los correos vuelvan a pasar por el clasificador","height":224,"width":304,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-864,-224],"typeVersion":1,"id":"d7efede3-b55e-450d-abb1-6e4732b14cd2","name":"Sticky Note7"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[48,160],"id":"434a296a-07c0-4cbd-a67a-17251c85a8bf","name":"Wait","webhookId":"253a3837-8b9a-45d8-b331-ee1e832b517a"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[320,384],"id":"f96edc18-1173-46f8-b64c-f5ff6309bd0e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"LFnduX1SkoDgy4eT","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1904,-336],"id":"eb706256-9433-41cb-aa37-aa4cfa24e470","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"LFnduX1SkoDgy4eT","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1936,240],"id":"033171fb-8851-4f87-aaeb-a91dacb55bff","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"LFnduX1SkoDgy4eT","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1952,832],"id":"934d7400-3abd-4c3e-a99d-fd7ce95a0790","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"LFnduX1SkoDgy4eT","name":"OpenAi account"}}}],"connections":{"OTRO":{"main":[[{"node":"Aviso de correo recibido2","type":"main","index":0}],[]]},"EVENTOS Y REUNIONES":{"main":[[{"node":"Aviso de correo recibido","type":"main","index":0}],[]]},"IA":{"main":[[{"node":"Aviso de correo recibido1","type":"main","index":0}],[]]},"VENTAS Y FACTURAS":{"main":[[{"node":"Aviso de correo recibido3","type":"main","index":0}],[]]},"ANUNCIOS Y PROPAGANDA":{"main":[[{"node":"Aviso de correo recibido4","type":"main","index":0}],[]]},"NEWSLETTERS":{"main":[[{"node":"Aviso de correo recibido5","type":"main","index":0}],[]]},"PERSONAL":{"main":[[{"node":"Aviso de correo recibido6","type":"main","index":0}],[]]},"ENTREVISTAS TRABAJO":{"main":[[{"node":"Aviso de correo recibido7","type":"main","index":0}],[]]},"REDES SOCIALES":{"main":[[{"node":"Aviso de correo recibido9","type":"main","index":0}],[]]},"OFERTAS EMPLEO":{"main":[[{"node":"Aviso de correo recibido8","type":"main","index":0}],[]]},"Create a draft in Microsoft Outlook":{"ai_tool":[[{"node":"Agente de facturas","type":"ai_tool","index":0}]]},"Agente de facturas":{"main":[[{"node":"Send a text message10","type":"main","index":0}]]},"Create a draft in Microsoft Outlook1":{"ai_tool":[[{"node":"Agente personal","type":"ai_tool","index":0}]]},"Create a draft in Microsoft Outlook2":{"ai_tool":[[{"node":"Agente de empleo","type":"ai_tool","index":0}]]},"Aviso de correo recibido":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aviso de correo recibido1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aviso de correo recibido2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aviso de correo recibido3":{"main":[[{"node":"Agente de facturas","type":"main","index":0}]]},"Aviso de correo recibido4":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aviso de correo recibido5":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aviso de correo recibido6":{"main":[[{"node":"Agente personal","type":"main","index":0}]]},"Aviso de correo recibido7":{"main":[[{"node":"Agente de empleo","type":"main","index":0}]]},"Aviso de correo recibido8":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aviso de correo recibido9":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Agente personal":{"main":[[{"node":"Send a text message11","type":"main","index":0}]]},"Agente de empleo":{"main":[[{"node":"Send a text message12","type":"main","index":0}]]},"Clasificador de correos":{"main":[[{"node":"EVENTOS Y REUNIONES","type":"main","index":0}],[{"node":"IA","type":"main","index":0}],[{"node":"OTRO","type":"main","index":0}],[{"node":"VENTAS Y FACTURAS","type":"main","index":0}],[{"node":"ANUNCIOS Y PROPAGANDA","type":"main","index":0}],[{"node":"NEWSLETTERS","type":"main","index":0}],[{"node":"PERSONAL","type":"main","index":0}],[{"node":"ENTREVISTAS TRABAJO","type":"main","index":0}],[{"node":"OFERTAS EMPLEO","type":"main","index":0}],[{"node":"REDES SOCIALES","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many messages","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many messages","type":"main","index":0}]]},"Get many messages":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get a message","type":"main","index":0}]]},"Get a message":{"main":[[{"node":"Message a model1","type":"main","index":0}]]},"Message a model1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Send a text message10":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Send a text message11":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Send a text message12":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Clasificador de correos","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Clasificador de correos","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Agente de facturas","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Agente personal","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Agente de empleo","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Microsoft Outlook Trigger":{"lastTimeChecked":"2025-09-15T14:54:28.004-04:00"},"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ac768bbb-9e0f-4fca-bac7-74676bd2f81b","triggerCount":1,"shared":[{"updatedAt":"2025-09-14T17:36:35.643Z","createdAt":"2025-09-14T17:36:35.643Z","role":"workflow:owner","workflowId":"m7WLLrSX4SUvTSqb","projectId":"wh4E83vibEFlr5PP","project":{"updatedAt":"2025-09-13T14:15:49.403Z","createdAt":"2025-09-13T14:12:59.125Z","id":"wh4E83vibEFlr5PP","name":"Sergi Buendia <sergibuendia02@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-09-13T14:12:59.125Z","createdAt":"2025-09-13T14:12:59.125Z","userId":"1bd88b92-5705-4f6d-bce6-32b14772b3bd","projectId":"wh4E83vibEFlr5PP","user":{"updatedAt":"2025-10-28T10:26:21.000Z","createdAt":"2025-09-13T14:12:58.741Z","id":"1bd88b92-5705-4f6d-bce6-32b14772b3bd","email":"sergibuendia02@gmail.com","firstName":"Sergi","lastName":"Buendia","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-13T14:17:23.383Z","personalization_survey_n8n_version":"1.110.1","companySize":"<20","companyType":"systems-integrator","role":"business-owner","reportedSource":"linkedin"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"zDC8mnWFl53snbo9","userActivatedAt":1757841267956,"npsSurvey":{"responded":true,"lastShownAt":1758270688953}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-10-28","isPending":false}}]}}],"tags":[]}