gmail-automatizado-organiado/Gmail automatizado - Label Classifier.json
{"updatedAt":"2025-09-16T14:25:37.000Z","createdAt":"2025-09-14T16:36:13.726Z","id":"tHQthdTpUHWNiRYu","name":"Gmail automatizado - Label Classifier","active":true,"isArchived":false,"nodes":[{"parameters":{"inputText":"=Asunto:{{ $json.subject }}, \nTexto: {{ $json.text }}","categories":{"categories":[{"category":"Anuncios","description":"El usuario hace propaganda o publicita algun producto o servicio"},{"category":"Eventos","description":"Venta de entradas, tiquets, propaganda sobre algun evento"},{"category":"Inteligencia Artificial","description":"Todos los correos que hablen sobre inteligencia artificial o automatizaciones"},{"category":"Newsletters","description":"Boletines a los que esté suscrito el usuario"},{"category":"Personal","description":"Comunicaciones personales "},{"category":"Ventas y facturas","description":"Mensaje relacionado con la compra de productos o servicios, o bien de facturas"},{"category":"Otro","description":"Cuando un mensaje no encaja en las categorias anteriores"}]},"options":{"enableAutoFixing":true}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[-112,-64],"id":"c26211d2-4daf-410e-baf2-34cc2a79ff4d","name":"Text Classifier"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_7040788420796538188"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[464,-592],"id":"7109075d-813c-4f9f-84a4-9a03b9695b64","name":"Anuncios","webhookId":"29492c65-755e-451f-8aa2-0244023cc057","credentials":{"gmailOAuth2":{"id":"9lhYsg2Pjrg5jTXM","name":"Gmail account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_339569582648852218"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[464,-432],"id":"45329152-7d90-425f-8015-f14acc15ae96","name":"Eventos","webhookId":"29492c65-755e-451f-8aa2-0244023cc057","retryOnFail":false,"credentials":{"gmailOAuth2":{"id":"9lhYsg2Pjrg5jTXM","name":"Gmail account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_3860228616203916925"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[464,-288],"id":"090daea5-dd35-4a73-b003-08e30a4038f7","name":"Inteligencia Artificial","webhookId":"29492c65-755e-451f-8aa2-0244023cc057","credentials":{"gmailOAuth2":{"id":"9lhYsg2Pjrg5jTXM","name":"Gmail account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_2159254424905526934"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[480,-112],"id":"63320e62-b7e8-4d2c-887b-3b3d8797aa66","name":"Newsletters","webhookId":"29492c65-755e-451f-8aa2-0244023cc057","credentials":{"gmailOAuth2":{"id":"9lhYsg2Pjrg5jTXM","name":"Gmail account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_6105290509323165816"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[480,48],"id":"9f679921-aacb-4471-b089-437cdb8daebb","name":"Personal","webhookId":"29492c65-755e-451f-8aa2-0244023cc057","credentials":{"gmailOAuth2":{"id":"9lhYsg2Pjrg5jTXM","name":"Gmail account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_3337667686422243396"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[480,240],"id":"402781f3-cd9c-42ac-8a84-9df941f5dafd","name":"Ventas y facturas","webhookId":"29492c65-755e-451f-8aa2-0244023cc057","credentials":{"gmailOAuth2":{"id":"9lhYsg2Pjrg5jTXM","name":"Gmail account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_8557836656321416545"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[480,416],"id":"dab35cd0-bac8-4c48-9a9b-f6d092360544","name":"Otro","webhookId":"29492c65-755e-451f-8aa2-0244023cc057","credentials":{"gmailOAuth2":{"id":"9lhYsg2Pjrg5jTXM","name":"Gmail account"}},"onError":"continueErrorOutput"},{"parameters":{"rule":{"interval":[{"triggerAtHour":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-960,-32],"id":"fb8d4566-d794-4bed-87ed-d50216f3344d","name":"Schedule Trigger"},{"parameters":{"operation":"getAll","returnAll":true,"simple":false,"filters":{"includeSpamTrash":false,"readStatus":"both","receivedAfter":"={{ $now.minus(24, 'hours').toISO() }}"},"options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-624,32],"id":"e714b2a0-a3ca-4293-a597-d0f81d62f97b","name":"Get many messages","webhookId":"55086f53-b40b-4229-854f-18bd66e5d9da","credentials":{"gmailOAuth2":{"id":"9lhYsg2Pjrg5jTXM","name":"Gmail account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-352,0],"id":"f0c4d27d-c59d-439b-8740-5cd2bc120f0d","name":"Loop Over Items"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-144,288],"id":"1db9634d-f474-4777-af3a-3dcf0f85a8a1","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"o0NxOJ0aeTjOaPyK","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-960,128],"id":"31407ed2-3196-4d5a-a1cf-43a1252316f3","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"removeLabels","messageId":"={{ $('Loop Over Items').item.json.id }}","labelIds":["INBOX"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1216,-32],"id":"2a595906-16fd-4fe0-8187-fb191a56ddd7","name":"Quitar de la bandeja de entrada y guardar en carpetas","webhookId":"5ecb07cd-57bc-433e-8cac-4cc3b92448d0","credentials":{"gmailOAuth2":{"id":"9lhYsg2Pjrg5jTXM","name":"Gmail account"}},"onError":"continueErrorOutput"}],"connections":{"Text Classifier":{"main":[[{"node":"Anuncios","type":"main","index":0}],[{"node":"Eventos","type":"main","index":0}],[{"node":"Inteligencia Artificial","type":"main","index":0}],[{"node":"Newsletters","type":"main","index":0}],[{"node":"Personal","type":"main","index":0}],[{"node":"Ventas y facturas","type":"main","index":0}],[{"node":"Otro","type":"main","index":0}]]},"Anuncios":{"main":[[{"node":"Quitar de la bandeja de entrada y guardar en carpetas","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Eventos":{"main":[[{"node":"Quitar de la bandeja de entrada y guardar en carpetas","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Inteligencia Artificial":{"main":[[{"node":"Quitar de la bandeja de entrada y guardar en carpetas","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Newsletters":{"main":[[{"node":"Quitar de la bandeja de entrada y guardar en carpetas","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Personal":{"main":[[{"node":"Quitar de la bandeja de entrada y guardar en carpetas","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Ventas y facturas":{"main":[[{"node":"Quitar de la bandeja de entrada y guardar en carpetas","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Otro":{"main":[[{"node":"Quitar de la bandeja de entrada y guardar en carpetas","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many messages","type":"main","index":0}]]},"Get many messages":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Text Classifier","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many messages","type":"main","index":0}]]},"Quitar de la bandeja de entrada y guardar en carpetas":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1757870032,"possibleDuplicates":["19949380d0b0bedc","1994937a18213b00"]}},"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fb329d0a-5a71-4b23-99ba-cc65c7062694","triggerCount":1,"shared":[{"updatedAt":"2025-09-14T16:36:13.729Z","createdAt":"2025-09-14T16:36:13.729Z","role":"workflow:owner","workflowId":"tHQthdTpUHWNiRYu","projectId":"wh4E83vibEFlr5PP","project":{"updatedAt":"2025-09-13T14:15:49.403Z","createdAt":"2025-09-13T14:12:59.125Z","id":"wh4E83vibEFlr5PP","name":"Sergi Buendia <sergibuendia02@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-09-13T14:12:59.125Z","createdAt":"2025-09-13T14:12:59.125Z","userId":"1bd88b92-5705-4f6d-bce6-32b14772b3bd","projectId":"wh4E83vibEFlr5PP","user":{"updatedAt":"2025-10-28T10:26:21.000Z","createdAt":"2025-09-13T14:12:58.741Z","id":"1bd88b92-5705-4f6d-bce6-32b14772b3bd","email":"sergibuendia02@gmail.com","firstName":"Sergi","lastName":"Buendia","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-13T14:17:23.383Z","personalization_survey_n8n_version":"1.110.1","companySize":"<20","companyType":"systems-integrator","role":"business-owner","reportedSource":"linkedin"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"zDC8mnWFl53snbo9","userActivatedAt":1757841267956,"npsSurvey":{"responded":true,"lastShownAt":1758270688953}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-10-28","isPending":false}}]}}],"tags":[]}